In [1]:
# As part of this module we will explore the functions available under pyspark.sql.functions to derive new values from existing column values with in a Data Frame.

# Pre-defined Functions
# Create Dummy Data Frame
# Categories of Functions
# Special Functions - col and lit
# String Manipulation Functions - 1
# String Manipulation Functions - 2
# Date and Time Overview
# Date and Time Arithmetic
# Date and Time - trunc and date_trunc
# Date and Time - Extracting Information
# Dealing with Unix Timestamp
# Example - Word Count

## Pre-defined Functions

In [3]:
# We typically process data in the columns using functions in pyspark.sql.functions. Let us understand details about these functions in detail as part of this module.

# Let us recap about Functions or APIs to process Data Frames.

# Projection - select or withColumn or drop or selectExpr
# Filtering - filter or where
# Grouping data by key and perform aggregations - groupBy
# Sorting data - sort or orderBy

# We can pass column names or literals or expressions to all the Data Frame APIs.
# Expressions include arithmetic operations, transformations using functions from pyspark.sql.functions.
# There are approximately 300 functions under pyspark.sql.functions.

# We will talk about some of the important functions used for String Manipulation, Date Manipulation etc.
# Here are some of the examples of using functions to take care of required transformations

In [6]:
# Reading data

from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('SparkByExamples.com').getOrCreate()

spark.conf.set("spark.sql.execution.arrow.pyspark.enabled",False)


orders = spark.read.csv(
    'orders.csv',
    schema='order_id INT, order_date STRING, order_customer_id INT, order_status STRING'
)

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/Users/manideep/miniconda3/lib/python3.9/site-packages/pyspark/jars/spark-unsafe_2.12-3.2.1.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/06/30 11:30:55 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/06/30 11:30:56 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
23/06/30 11:30:56 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.

In [43]:
from pyspark.sql.functions import date_format

orders.alias("u").show(truncate=False)

+--------+---------------------+-----------------+---------------+
|order_id|order_date           |order_customer_id|order_status   |
+--------+---------------------+-----------------+---------------+
|1       |2013-07-25 00:00:00.0|11599            |CLOSED         |
|2       |2013-07-25 00:00:00.0|256              |PENDING_PAYMENT|
|3       |2013-07-25 00:00:00.0|12111            |COMPLETE       |
|4       |2013-07-25 00:00:00.0|8827             |CLOSED         |
|5       |2013-07-25 00:00:00.0|11318            |COMPLETE       |
|6       |2013-07-25 00:00:00.0|7130             |COMPLETE       |
|7       |2013-07-25 00:00:00.0|4530             |COMPLETE       |
|8       |2013-07-25 00:00:00.0|2911             |PROCESSING     |
|9       |2013-07-25 00:00:00.0|5657             |PENDING_PAYMENT|
|10      |2013-07-25 00:00:00.0|5648             |PENDING_PAYMENT|
|11      |2013-07-25 00:00:00.0|918              |PAYMENT_REVIEW |
|12      |2013-07-25 00:00:00.0|1837             |CLOSED         |
|13      |2013-07-25 00:00:00.0|9149             |PENDING_PAYMENT|
|14      |2013-07-25 00:00:00.0|9842             |PROCESSING     |
|15      |2013-07-25 00:00:00.0|2568             |COMPLETE       |
|16      |2013-07-25 00:00:00.0|7276             |PENDING_PAYMENT|
|17      |2013-07-25 00:00:00.0|2667             |COMPLETE       |
|18      |2013-07-25 00:00:00.0|1205             |CLOSED         |
|19      |2013-07-25 00:00:00.0|9488             |PENDING_PAYMENT|
|20      |2013-07-25 00:00:00.0|9198             |PROCESSING     |
+--------+---------------------+-----------------+---------------+
only showing top 20 rows

In [45]:
orders.select(date_format("order_date","yyyyMM")).alias("order").show()

+-------------------------------+
|date_format(order_date, yyyyMM)|
+-------------------------------+
|                         201307|
|                         201307|
|                         201307|
|                         201307|
|                         201307|
|                         201307|
|                         201307|
|                         201307|
|                         201307|
|                         201307|
|                         201307|
|                         201307|
|                         201307|
|                         201307|
|                         201307|
|                         201307|
|                         201307|
|                         201307|
|                         201307|
|                         201307|
+-------------------------------+
only showing top 20 rows

In [53]:
## with column adds a new column

orders.withColumn("order_months",date_format("order_date","yyyy-MM")).show()

+--------+--------------------+-----------------+---------------+------------+
|order_id|          order_date|order_customer_id|   order_status|order_months|
+--------+--------------------+-----------------+---------------+------------+
|       1|2013-07-25 00:00:...|            11599|         CLOSED|     2013-07|
|       2|2013-07-25 00:00:...|              256|PENDING_PAYMENT|     2013-07|
|       3|2013-07-25 00:00:...|            12111|       COMPLETE|     2013-07|
|       4|2013-07-25 00:00:...|             8827|         CLOSED|     2013-07|
|       5|2013-07-25 00:00:...|            11318|       COMPLETE|     2013-07|
|       6|2013-07-25 00:00:...|             7130|       COMPLETE|     2013-07|
|       7|2013-07-25 00:00:...|             4530|       COMPLETE|     2013-07|
|       8|2013-07-25 00:00:...|             2911|     PROCESSING|     2013-07|
|       9|2013-07-25 00:00:...|             5657|PENDING_PAYMENT|     2013-07|
|      10|2013-07-25 00:00:...|             5648|PENDING_PAYMENT|     2013-07|
|      11|2013-07-25 00:00:...|              918| PAYMENT_REVIEW|     2013-07|
|      12|2013-07-25 00:00:...|             1837|         CLOSED|     2013-07|
|      13|2013-07-25 00:00:...|             9149|PENDING_PAYMENT|     2013-07|
|      14|2013-07-25 00:00:...|             9842|     PROCESSING|     2013-07|
|      15|2013-07-25 00:00:...|             2568|       COMPLETE|     2013-07|
|      16|2013-07-25 00:00:...|             7276|PENDING_PAYMENT|     2013-07|
|      17|2013-07-25 00:00:...|             2667|       COMPLETE|     2013-07|
|      18|2013-07-25 00:00:...|             1205|         CLOSED|     2013-07|
|      19|2013-07-25 00:00:...|             9488|PENDING_PAYMENT|     2013-07|
|      20|2013-07-25 00:00:...|             9198|     PROCESSING|     2013-07|
+--------+--------------------+-----------------+---------------+------------+
only showing top 20 rows

In [56]:
# To filter

orders.\
filter(date_format("order_date","yyyyMM") ==201401).show()

+--------+--------------------+-----------------+---------------+
|order_id|          order_date|order_customer_id|   order_status|
+--------+--------------------+-----------------+---------------+
|   25876|2014-01-01 00:00:...|             3414|PENDING_PAYMENT|
|   25877|2014-01-01 00:00:...|             5549|PENDING_PAYMENT|
|   25878|2014-01-01 00:00:...|             9084|        PENDING|
|   25879|2014-01-01 00:00:...|             5118|        PENDING|
|   25880|2014-01-01 00:00:...|            10146|       CANCELED|
|   25881|2014-01-01 00:00:...|             3205|PENDING_PAYMENT|
|   25882|2014-01-01 00:00:...|             4598|       COMPLETE|
|   25883|2014-01-01 00:00:...|            11764|        PENDING|
|   25884|2014-01-01 00:00:...|             7904|PENDING_PAYMENT|
|   25885|2014-01-01 00:00:...|             7253|        PENDING|
|   25886|2014-01-01 00:00:...|             8195|     PROCESSING|
|   25887|2014-01-01 00:00:...|            10062|        PENDING|
|   25888|2014-01-01 00:00:...|             6735|       COMPLETE|
|   25889|2014-01-01 00:00:...|            10045|       COMPLETE|
|   25890|2014-01-01 00:00:...|             2581|        PENDING|
|   25891|2014-01-01 00:00:...|             3037|         CLOSED|
|   25892|2014-01-01 00:00:...|             3853|        ON_HOLD|
|   25893|2014-01-01 00:00:...|             8679|PENDING_PAYMENT|
|   25894|2014-01-01 00:00:...|             7839|     PROCESSING|
|   25895|2014-01-01 00:00:...|             1044|       COMPLETE|
+--------+--------------------+-----------------+---------------+
only showing top 20 rows

In [61]:
## Group By

orders.\
    groupBy(date_format("order_date","yyyyMM").alias("order"))\
    .count().show()

+------+-----+
| order|count|
+------+-----+
|201401| 5908|
|201405| 5467|
|201312| 5892|
|201310| 5335|
|201311| 6381|
|201307| 1533|
|201407| 4468|
|201403| 5778|
|201404| 5657|
|201402| 5635|
|201309| 5841|
|201406| 5308|
|201308| 5680|
+------+-----+

## Create Dummy Spark Data Frame

In [91]:
l = [ ("x",)]

df = spark.createDataFrame(l,"dummy string")

In [82]:
df.show()

+-----+
|dummy|
+-----+
|    x|
|    y|
+-----+

In [114]:
from pyspark.sql.functions import current_date, lit

df.select(current_date().alias("current_date"),lit(", ")).show()

+------------+---+
|current_date| , |
+------------+---+
|  2023-06-30| , |
+------------+---+

In [97]:
employees = [
    (1, "Scott", "Tiger", 1000.0, 
      "united states", "+1 123 456 7890", "123 45 6789"
    ),
     (2, "Henry", "Ford", 1250.0, 
      "India", "+91 234 567 8901", "456 78 9123"
     ),
     (3, "Nick", "Junior", 750.0, 
      "united KINGDOM", "+44 111 111 1111", "222 33 4444"
     ),
     (4, "Bill", "Gomes", 1500.0, 
      "AUSTRALIA", "+61 987 654 3210", "789 12 6118"
     )
]

In [102]:
e_df = spark.createDataFrame(employees,"""

id int,first_name string,last_name string,cost float,nationality string,
phone string,ssn string

""")

e_df.show()

e_df.printSchema()

+---+----------+---------+------+--------------+----------------+-----------+
| id|first_name|last_name|  cost|   nationality|           phone|        ssn|
+---+----------+---------+------+--------------+----------------+-----------+
|  1|     Scott|    Tiger|1000.0| united states| +1 123 456 7890|123 45 6789|
|  2|     Henry|     Ford|1250.0|         India|+91 234 567 8901|456 78 9123|
|  3|      Nick|   Junior| 750.0|united KINGDOM|+44 111 111 1111|222 33 4444|
|  4|      Bill|    Gomes|1500.0|     AUSTRALIA|+61 987 654 3210|789 12 6118|
+---+----------+---------+------+--------------+----------------+-----------+

root
 |-- id: integer (nullable = true)
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- cost: float (nullable = true)
 |-- nationality: string (nullable = true)
 |-- phone: string (nullable = true)
 |-- ssn: string (nullable = true)

## Categories of Functions

In [103]:
# There are approximately 300 functions under pyspark.sql.functions. At a higher level they can be grouped into a few categories.

# String Manipulation Functions

# Case Conversion - lower,  upper
# Getting Length -  length
# Extracting substrings - substring, split
# Trimming - trim, ltrim, rtrim
# Padding - lpad, rpad
# Concatenating string - concat, concat_ws







# Date Manipulation Functions

# Getting current date and time - current_date, current_timestamp
# Date Arithmetic - date_add, date_sub, datediff, months_between, add_months, next_day
# Beginning and Ending Date or Time - last_day, trunc, date_trunc
# Formatting Date - date_format, to_date
# Extracting Information - dayofyear, dayofmonth, dayofweek, year, month






# Aggregate Functions

# count, countDistinct
# sum, avg
# min, max
# Other Functions - We will explore depending on the use cases.
# CASE and WHEN
# CAST for type casting
# Functions to manage special types such as ARRAY, MAP, STRUCT type columns
# Many others

In [104]:
from pyspark.sql.functions import lower

help(lower)

Help on function lower in module pyspark.sql.functions:

lower(col)
    Converts a string expression to lower case.

    .. versionadded:: 1.5

In [108]:
e_df.select(lower("nationality").alias("country")).show()

# converted all letters to smaller case

+--------------+
|       country|
+--------------+
| united states|
|         india|
|united kingdom|
|     australia|
+--------------+

## help

In [111]:
help(date_format)

Help on function date_format in module pyspark.sql.functions:

date_format(date, format)
    Converts a date/timestamp/string to a value of string in the format specified by the date
    format given by the second argument.

    A pattern could be for instance `dd.MM.yyyy` and could return a string like '18.03.1993'. All
    pattern letters of `datetime pattern`_. can be used.

    .. _datetime pattern: https://spark.apache.org/docs/latest/sql-ref-datetime-pattern.html

    .. versionadded:: 1.5.0

    Notes
    -----
    Whenever possible, use specialized functions like `year`.

    Examples
    --------
    >>> df = spark.createDataFrame([('2015-04-08',)], ['dt'])
    >>> df.select(date_format('dt', 'MM/dd/yyy').alias('date')).collect()
    [Row(date='04/08/2015')]

In [194]:
from pyspark.sql.functions import concat,lit,date_format,upper,col,concat_ws


help(concat)

Help on function concat in module pyspark.sql.functions:

concat(*cols)
    Concatenates multiple input columns together into a single column.
    The function works with strings, binary and compatible array columns.

    .. versionadded:: 1.5.0

    Examples
    --------
    >>> df = spark.createDataFrame([('abcd','123')], ['s', 'd'])
    >>> df.select(concat(df.s, df.d).alias('s')).collect()
    [Row(s='abcd123')]

    >>> df = spark.createDataFrame([([1, 2], [3, 4], [5]), ([1, 2], None, [3])], ['a', 'b', 'c'])
    >>> df.select(concat(df.a, df.b, df.c).alias("arr")).collect()
    [Row(arr=[1, 2, 3, 4, 5]), Row(arr=None)]

In [144]:
df = spark.createDataFrame([('abcd','123')], ['ins', 'd'])
df.select(concat(df.ins, df.d).alias('srr')).show()

+-------+
|    srr|
+-------+
|abcd123|
+-------+

In [145]:
df = spark.createDataFrame([('abcd','123')], ['ins STRING ', 'd STRING'])


# using the data types in schema, the column name even have those data types


df.select(concat('ins STRING ', 'd STRING').alias('srr')).show()

+-------+
|    srr|
+-------+
|abcd123|
+-------+

In [146]:
df.columns

['ins STRING ', 'd STRING']

In [147]:
help(concat_ws)

Help on function concat_ws in module pyspark.sql.functions:

concat_ws(sep, *cols)
    Concatenates multiple input string columns together into a single string column,
    using the given separator.

    .. versionadded:: 1.5.0

    Examples
    --------
    >>> df = spark.createDataFrame([('abcd','123')], ['s', 'd'])
    >>> df.select(concat_ws('-', df.s, df.d).alias('s')).collect()
    [Row(s='abcd-123')]

In [150]:
df = spark.createDataFrame([('abcd','123')], ['s', 'd'])
df.select(concat_ws('   pppp ---', df.s, df.d).alias('s')).show()

+------------------+
|                 s|
+------------------+
|abcd   pppp ---123|
+------------------+

## Special Functions - col and lit

In [151]:
# Let us understand special functions such as col and lit. 
# These functions are typically used to convert the strings to column type.

In [163]:
employees = [(1, "Scott", "Tiger", 1000.0, 
                      "united states", "+1 123 456 7890", "123 45 6789"
                     ),
                     (4, "Henry", "Ford", 1250.0, 
                      "India", "+91 234 567 8901", "456 78 9123"
                     ),
                     (3, "Nick", "Junior", 750.0, 
                      "united KINGDOM", "+44 111 111 1111", "222 33 4444"
                     ),
                     (4, "Bill", "Gomes", 1500.0, 
                      "AUSTRALIA", "+61 987 654 3210", "789 12 6118"
                     )
                ]


e2_df = spark. \
    createDataFrame(employees,
                    schema="""employee_id INT, first_name STRING, 
                    last_name STRING, salary FLOAT, nationality STRING,
                    phone_number STRING, ssn STRING"""
                   )

In [164]:
e2_df.groupBy("nationality").count().show()

+--------------+-----+
|   nationality|count|
+--------------+-----+
| united states|    1|
|         India|    1|
|united KINGDOM|    1|
|     AUSTRALIA|    1|
+--------------+-----+

In [165]:
e2_df.orderBy("first_name","employee_id").show()

+-----------+----------+---------+------+--------------+----------------+-----------+
|employee_id|first_name|last_name|salary|   nationality|    phone_number|        ssn|
+-----------+----------+---------+------+--------------+----------------+-----------+
|          4|      Bill|    Gomes|1500.0|     AUSTRALIA|+61 987 654 3210|789 12 6118|
|          4|     Henry|     Ford|1250.0|         India|+91 234 567 8901|456 78 9123|
|          3|      Nick|   Junior| 750.0|united KINGDOM|+44 111 111 1111|222 33 4444|
|          1|     Scott|    Tiger|1000.0| united states| +1 123 456 7890|123 45 6789|
+-----------+----------+---------+------+--------------+----------------+-----------+

In [166]:
help(col)

Help on function col in module pyspark.sql.functions:

col(col)
    Returns a :class:`~pyspark.sql.Column` based on the given column name.'
    Examples
    --------
    >>> col('x')
    Column<'x'>
    >>> column('x')
    Column<'x'>

    .. versionadded:: 1.3

In [187]:
# Also, if we want to use functions such as alias, desc etc on columns 
# then we have to pass the column names as column type object (not as strings).

In [168]:
e2_df. \
    orderBy("employee_id".desc()). \
    show()

AttributeError: 'str' object has no attribute 'desc'

In [189]:
e2_df. \
    orderBy(col("employee_id").desc()). \
    show()

e2_df. \
    orderBy(col("first_name").desc()). \
    show()

# using dataframe name to access the columns
e2_df. \
    orderBy(e2_df.employee_id.desc()). \
    show()

# upper,desc,alias

e2_df. \
    orderBy(upper(e2_df.first_name).alias("name").asc()). \
    show()

# for the above one,conversion to Upper is used in sorting. so the projection didnt happen

+-----------+----------+---------+------+--------------+----------------+-----------+
|employee_id|first_name|last_name|salary|   nationality|    phone_number|        ssn|
+-----------+----------+---------+------+--------------+----------------+-----------+
|          4|      Bill|    Gomes|1500.0|     AUSTRALIA|+61 987 654 3210|789 12 6118|
|          4|     Henry|     Ford|1250.0|         India|+91 234 567 8901|456 78 9123|
|          3|      Nick|   Junior| 750.0|united KINGDOM|+44 111 111 1111|222 33 4444|
|          1|     Scott|    Tiger|1000.0| united states| +1 123 456 7890|123 45 6789|
+-----------+----------+---------+------+--------------+----------------+-----------+

+-----------+----------+---------+------+--------------+----------------+-----------+
|employee_id|first_name|last_name|salary|   nationality|    phone_number|        ssn|
+-----------+----------+---------+------+--------------+----------------+-----------+
|          1|     Scott|    Tiger|1000.0| united states| +1 123 456 7890|123 45 6789|
|          3|      Nick|   Junior| 750.0|united KINGDOM|+44 111 111 1111|222 33 4444|
|          4|     Henry|     Ford|1250.0|         India|+91 234 567 8901|456 78 9123|
|          4|      Bill|    Gomes|1500.0|     AUSTRALIA|+61 987 654 3210|789 12 6118|
+-----------+----------+---------+------+--------------+----------------+-----------+

+-----------+----------+---------+------+--------------+----------------+-----------+
|employee_id|first_name|last_name|salary|   nationality|    phone_number|        ssn|
+-----------+----------+---------+------+--------------+----------------+-----------+
|          4|     Henry|     Ford|1250.0|         India|+91 234 567 8901|456 78 9123|
|          4|      Bill|    Gomes|1500.0|     AUSTRALIA|+61 987 654 3210|789 12 6118|
|          3|      Nick|   Junior| 750.0|united KINGDOM|+44 111 111 1111|222 33 4444|
|          1|     Scott|    Tiger|1000.0| united states| +1 123 456 7890|123 45 6789|
+-----------+----------+---------+------+--------------+----------------+-----------+

+-----------+----------+---------+------+--------------+----------------+-----------+
|employee_id|first_name|last_name|salary|   nationality|    phone_number|        ssn|
+-----------+----------+---------+------+--------------+----------------+-----------+
|          4|      Bill|    Gomes|1500.0|     AUSTRALIA|+61 987 654 3210|789 12 6118|
|          4|     Henry|     Ford|1250.0|         India|+91 234 567 8901|456 78 9123|
|          3|      Nick|   Junior| 750.0|united KINGDOM|+44 111 111 1111|222 33 4444|
|          1|     Scott|    Tiger|1000.0| united states| +1 123 456 7890|123 45 6789|
+-----------+----------+---------+------+--------------+----------------+-----------+

In [204]:
e2_df. \
    orderBy(upper(e2_df["first_name"]).alias("name")).show()

+-----------+----------+---------+------+--------------+----------------+-----------+
|employee_id|first_name|last_name|salary|   nationality|    phone_number|        ssn|
+-----------+----------+---------+------+--------------+----------------+-----------+
|          4|      Bill|    Gomes|1500.0|     AUSTRALIA|+61 987 654 3210|789 12 6118|
|          4|     Henry|     Ford|1250.0|         India|+91 234 567 8901|456 78 9123|
|          3|      Nick|   Junior| 750.0|united KINGDOM|+44 111 111 1111|222 33 4444|
|          1|     Scott|    Tiger|1000.0| united states| +1 123 456 7890|123 45 6789|
+-----------+----------+---------+------+--------------+----------------+-----------+

In [223]:
help(upper)

Help on function upper in module pyspark.sql.functions:

upper(col)
    Converts a string expression to upper case.

    .. versionadded:: 1.5

In [215]:
from pyspark.sql.column import Column

help(Column.alias)

Help on function alias in module pyspark.sql.column:

alias(self, *alias, **kwargs)
    Returns this column aliased with a new name or names (in the case of expressions that
    return more than one column, such as explode).

    .. versionadded:: 1.3.0

    Parameters
    ----------
    alias : str
        desired column names (collects all positional arguments passed)

    Other Parameters
    ----------------
    metadata: dict
        a dict of information to be stored in ``metadata`` attribute of the
        corresponding :class:`StructField <pyspark.sql.types.StructField>` (optional, keyword
        only argument)

        .. versionchanged:: 2.2.0
           Added optional ``metadata`` argument.

    Examples
    --------
    >>> df.select(df.age.alias("age2")).collect()
    [Row(age2=2), Row(age2=5)]
    >>> df.select(df.age.alias("age3", metadata={'max': 99})).schema['age3'].metadata['max']
    99

In [178]:
# Sometimes, we want to add a literal to the column values. 
# For example, we might want to concatenate first_name and last_name separated by comma and space in between.


# Gives error as ", " is not a column

e2_df. \
    select(concat(col("first_name"), ", ", col("last_name"))). \
    show()

AnalysisException: cannot resolve '`, `' given input columns: [employee_id, first_name, last_name, nationality, phone_number, salary, ssn];
'Project [unresolvedalias(concat(first_name#1757, ', , last_name#1758), Some(org.apache.spark.sql.Column$$Lambda$2698/0x00000008011aa040@48273533))]
+- LogicalRDD [employee_id#1756, first_name#1757, last_name#1758, salary#1759, nationality#1760, phone_number#1761, ssn#1762], false

In [180]:
e2_df. \
    select(concat(col("first_name"), 
                  lit(", "), 
                  col("last_name")).alias("full_name")). \
    show()

+------------+
|   full_name|
+------------+
|Scott, Tiger|
| Henry, Ford|
|Nick, Junior|
| Bill, Gomes|
+------------+

In [196]:
from pyspark.sql.column import Column

In [198]:
help(Column)


# on top of column object, we have alias,asc,desc.asc_null_list,astype

# col("column name") - returns a column object

# "column name" - is a string not a column

# we can use these function on clumn object. no compulsory to use only on col("column name")

Help on class Column in module pyspark.sql.column:

class Column(builtins.object)
 |  Column(jc)
 |
 |  A column in a DataFrame.
 |
 |  :class:`Column` instances can be created by::
 |
 |      # 1. Select a column out of a DataFrame
 |
 |      df.colName
 |      df["colName"]
 |
 |      # 2. Create from an expression
 |      df.colName + 1
 |      1 / df.colName
 |
 |  .. versionadded:: 1.3.0
 |
 |  Methods defined here:
 |
 |  __add__ = _(self, other)
 |      binary operator
 |
 |  __and__ = _(self, other)
 |      binary operator
 |
 |  __bool__ = __nonzero__(self)
 |
 |  __contains__(self, item)
 |      # container operators
 |
 |  __div__ = _(self, other)
 |      binary operator
 |
 |  __eq__ = _(self, other)
 |      binary operator
 |
 |  __ge__ = _(self, other)
 |      binary operator
 |
 |  __getattr__(self, item)
 |
 |  __getitem__(self, k)
 |
 |  __gt__ = _(self, other)
 |      binary operator
 |
 |  __init__(self, jc)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __invert__ = _(self)
 |
 |  __iter__(self)
 |
 |  __le__ = _(self, other)
 |      binary operator
 |
 |  __lt__ = _(self, other)
 |      binary operator
 |
 |  __mod__ = _(self, other)
 |      binary operator
 |
 |  __mul__ = _(self, other)
 |      binary operator
 |
 |  __ne__ = _(self, other)
 |      binary operator
 |
 |  __neg__ = _(self)
 |
 |  __nonzero__(self)
 |
 |  __or__ = _(self, other)
 |      binary operator
 |
 |  __pow__ = _(self, other)
 |      binary function
 |
 |  __radd__ = _(self, other)
 |      binary operator
 |
 |  __rand__ = _(self, other)
 |      binary operator
 |
 |  __rdiv__ = _(self, other)
 |      binary operator
 |
 |  __repr__(self)
 |      Return repr(self).
 |
 |  __rmod__ = _(self, other)
 |      binary operator
 |
 |  __rmul__ = _(self, other)
 |      binary operator
 |
 |  __ror__ = _(self, other)
 |      binary operator
 |
 |  __rpow__ = _(self, other)
 |      binary function
 |
 |  __rsub__ = _(self, other)
 |      binary operator
 |
 |  __rtruediv__ = _(self, other)
 |      binary operator
 |
 |  __sub__ = _(self, other)
 |      binary operator
 |
 |  __truediv__ = _(self, other)
 |      binary operator
 |
 |  alias(self, *alias, **kwargs)
 |      Returns this column aliased with a new name or names (in the case of expressions that
 |      return more than one column, such as explode).
 |
 |      .. versionadded:: 1.3.0
 |
 |      Parameters
 |      ----------
 |      alias : str
 |          desired column names (collects all positional arguments passed)
 |
 |      Other Parameters
 |      ----------------
 |      metadata: dict
 |          a dict of information to be stored in ``metadata`` attribute of the
 |          corresponding :class:`StructField <pyspark.sql.types.StructField>` (optional, keyword
 |          only argument)
 |
 |          .. versionchanged:: 2.2.0
 |             Added optional ``metadata`` argument.
 |
 |      Examples
 |      --------
 |      >>> df.select(df.age.alias("age2")).collect()
 |      [Row(age2=2), Row(age2=5)]
 |      >>> df.select(df.age.alias("age3", metadata={'max': 99})).schema['age3'].metadata['max']
 |      99
 |
 |  asc = _(self)
 |      Returns a sort expression based on ascending order of the column.
 |
 |      Examples
 |      --------
 |      >>> from pyspark.sql import Row
 |      >>> df = spark.createDataFrame([('Tom', 80), ('Alice', None)], ["name", "height"])
 |      >>> df.select(df.name).orderBy(df.name.asc()).collect()
 |      [Row(name='Alice'), Row(name='Tom')]
 |
 |  asc_nulls_first = _(self)
 |      Returns a sort expression based on ascending order of the column, and null values
 |      return before non-null values.
 |
 |      .. versionadded:: 2.4.0
 |
 |      Examples
 |      --------
 |      >>> from pyspark.sql import Row
 |      >>> df = spark.createDataFrame([('Tom', 80), (None, 60), ('Alice', None)], ["name", "height"])
 |      >>> df.select(df.name).orderBy(df.name.asc_nulls_first()).collect()
 |      [Row(name=None), Row(name='Alice'), Row(name='Tom')]
 |
 |  asc_nulls_last = _(self)
 |      Returns a sort expression based on ascending order of the column, and null values
 |      appear after non-null values.
 |
 |      .. versionadded:: 2.4.0
 |
 |      Examples
 |      --------
 |      >>> from pyspark.sql import Row
 |      >>> df = spark.createDataFrame([('Tom', 80), (None, 60), ('Alice', None)], ["name", "height"])
 |      >>> df.select(df.name).orderBy(df.name.asc_nulls_last()).collect()
 |      [Row(name='Alice'), Row(name='Tom'), Row(name=None)]
 |
 |  astype = cast(self, dataType)
 |      :func:`astype` is an alias for :func:`cast`.
 |
 |      .. versionadded:: 1.4
 |
 |  between(self, lowerBound, upperBound)
 |      True if the current column is between the lower bound and upper bound, inclusive.
 |
 |      .. versionadded:: 1.3.0
 |
 |      Examples
 |      --------
 |      >>> df.select(df.name, df.age.between(2, 4)).show()
 |      +-----+---------------------------+
 |      | name|((age >= 2) AND (age <= 4))|
 |      +-----+---------------------------+
 |      |Alice|                       true|
 |      |  Bob|                      false|
 |      +-----+---------------------------+
 |
 |  bitwiseAND = _(self, other)
 |      Compute bitwise AND of this expression with another expression.
 |
 |      Parameters
 |      ----------
 |      other
 |          a value or :class:`Column` to calculate bitwise and(&) with
 |          this :class:`Column`.
 |
 |      Examples
 |      --------
 |      >>> from pyspark.sql import Row
 |      >>> df = spark.createDataFrame([Row(a=170, b=75)])
 |      >>> df.select(df.a.bitwiseAND(df.b)).collect()
 |      [Row((a & b)=10)]
 |
 |  bitwiseOR = _(self, other)
 |      Compute bitwise OR of this expression with another expression.
 |
 |      Parameters
 |      ----------
 |      other
 |          a value or :class:`Column` to calculate bitwise or(|) with
 |          this :class:`Column`.
 |
 |      Examples
 |      --------
 |      >>> from pyspark.sql import Row
 |      >>> df = spark.createDataFrame([Row(a=170, b=75)])
 |      >>> df.select(df.a.bitwiseOR(df.b)).collect()
 |      [Row((a | b)=235)]
 |
 |  bitwiseXOR = _(self, other)
 |      Compute bitwise XOR of this expression with another expression.
 |
 |      Parameters
 |      ----------
 |      other
 |          a value or :class:`Column` to calculate bitwise xor(^) with
 |          this :class:`Column`.
 |
 |      Examples
 |      --------
 |      >>> from pyspark.sql import Row
 |      >>> df = spark.createDataFrame([Row(a=170, b=75)])
 |      >>> df.select(df.a.bitwiseXOR(df.b)).collect()
 |      [Row((a ^ b)=225)]
 |
 |  cast(self, dataType)
 |      Casts the column into type ``dataType``.
 |
 |      .. versionadded:: 1.3.0
 |
 |      Examples
 |      --------
 |      >>> df.select(df.age.cast("string").alias('ages')).collect()
 |      [Row(ages='2'), Row(ages='5')]
 |      >>> df.select(df.age.cast(StringType()).alias('ages')).collect()
 |      [Row(ages='2'), Row(ages='5')]
 |
 |  contains = _(self, other)
 |      Contains the other element. Returns a boolean :class:`Column` based on a string match.
 |
 |      Parameters
 |      ----------
 |      other
 |          string in line. A value as a literal or a :class:`Column`.
 |
 |      Examples
 |      --------
 |      >>> df.filter(df.name.contains('o')).collect()
 |      [Row(age=5, name='Bob')]
 |
 |  desc = _(self)
 |      Returns a sort expression based on the descending order of the column.
 |
 |      .. versionadded:: 2.4.0
 |
 |      Examples
 |      --------
 |      >>> from pyspark.sql import Row
 |      >>> df = spark.createDataFrame([('Tom', 80), ('Alice', None)], ["name", "height"])
 |      >>> df.select(df.name).orderBy(df.name.desc()).collect()
 |      [Row(name='Tom'), Row(name='Alice')]
 |
 |  desc_nulls_first = _(self)
 |      Returns a sort expression based on the descending order of the column, and null values
 |      appear before non-null values.
 |
 |      .. versionadded:: 2.4.0
 |
 |      Examples
 |      --------
 |      >>> from pyspark.sql import Row
 |      >>> df = spark.createDataFrame([('Tom', 80), (None, 60), ('Alice', None)], ["name", "height"])
 |      >>> df.select(df.name).orderBy(df.name.desc_nulls_first()).collect()
 |      [Row(name=None), Row(name='Tom'), Row(name='Alice')]
 |
 |  desc_nulls_last = _(self)
 |      Returns a sort expression based on the descending order of the column, and null values
 |      appear after non-null values.
 |
 |      .. versionadded:: 2.4.0
 |
 |      Examples
 |      --------
 |      >>> from pyspark.sql import Row
 |      >>> df = spark.createDataFrame([('Tom', 80), (None, 60), ('Alice', None)], ["name", "height"])
 |      >>> df.select(df.name).orderBy(df.name.desc_nulls_last()).collect()
 |      [Row(name='Tom'), Row(name='Alice'), Row(name=None)]
 |
 |  dropFields(self, *fieldNames)
 |      An expression that drops fields in :class:`StructType` by name.
 |      This is a no-op if schema doesn't contain field name(s).
 |
 |      .. versionadded:: 3.1.0
 |
 |      Examples
 |      --------
 |      >>> from pyspark.sql import Row
 |      >>> from pyspark.sql.functions import col, lit
 |      >>> df = spark.createDataFrame([
 |      ...     Row(a=Row(b=1, c=2, d=3, e=Row(f=4, g=5, h=6)))])
 |      >>> df.withColumn('a', df['a'].dropFields('b')).show()
 |      +-----------------+
 |      |                a|
 |      +-----------------+
 |      |{2, 3, {4, 5, 6}}|
 |      +-----------------+
 |
 |      >>> df.withColumn('a', df['a'].dropFields('b', 'c')).show()
 |      +--------------+
 |      |             a|
 |      +--------------+
 |      |{3, {4, 5, 6}}|
 |      +--------------+
 |
 |      This method supports dropping multiple nested fields directly e.g.
 |
 |      >>> df.withColumn("a", col("a").dropFields("e.g", "e.h")).show()
 |      +--------------+
 |      |             a|
 |      +--------------+
 |      |{1, 2, 3, {4}}|
 |      +--------------+
 |
 |      However, if you are going to add/replace multiple nested fields,
 |      it is preferred to extract out the nested struct before
 |      adding/replacing multiple fields e.g.
 |
 |      >>> df.select(col("a").withField(
 |      ...     "e", col("a.e").dropFields("g", "h")).alias("a")
 |      ... ).show()
 |      +--------------+
 |      |             a|
 |      +--------------+
 |      |{1, 2, 3, {4}}|
 |      +--------------+
 |
 |  endswith = _(self, other)
 |      String ends with. Returns a boolean :class:`Column` based on a string match.
 |
 |      Parameters
 |      ----------
 |      other : :class:`Column` or str
 |          string at end of line (do not use a regex `$`)
 |
 |      Examples
 |      --------
 |      >>> df.filter(df.name.endswith('ice')).collect()
 |      [Row(age=2, name='Alice')]
 |      >>> df.filter(df.name.endswith('ice$')).collect()
 |      []
 |
 |  eqNullSafe = _(self, other)
 |      Equality test that is safe for null values.
 |
 |      .. versionadded:: 2.3.0
 |
 |      Parameters
 |      ----------
 |      other
 |          a value or :class:`Column`
 |
 |      Examples
 |      --------
 |      >>> from pyspark.sql import Row
 |      >>> df1 = spark.createDataFrame([
 |      ...     Row(id=1, value='foo'),
 |      ...     Row(id=2, value=None)
 |      ... ])
 |      >>> df1.select(
 |      ...     df1['value'] == 'foo',
 |      ...     df1['value'].eqNullSafe('foo'),
 |      ...     df1['value'].eqNullSafe(None)
 |      ... ).show()
 |      +-------------+---------------+----------------+
 |      |(value = foo)|(value <=> foo)|(value <=> NULL)|
 |      +-------------+---------------+----------------+
 |      |         true|           true|           false|
 |      |         null|          false|            true|
 |      +-------------+---------------+----------------+
 |      >>> df2 = spark.createDataFrame([
 |      ...     Row(value = 'bar'),
 |      ...     Row(value = None)
 |      ... ])
 |      >>> df1.join(df2, df1["value"] == df2["value"]).count()
 |      0
 |      >>> df1.join(df2, df1["value"].eqNullSafe(df2["value"])).count()
 |      1
 |      >>> df2 = spark.createDataFrame([
 |      ...     Row(id=1, value=float('NaN')),
 |      ...     Row(id=2, value=42.0),
 |      ...     Row(id=3, value=None)
 |      ... ])
 |      >>> df2.select(
 |      ...     df2['value'].eqNullSafe(None),
 |      ...     df2['value'].eqNullSafe(float('NaN')),
 |      ...     df2['value'].eqNullSafe(42.0)
 |      ... ).show()
 |      +----------------+---------------+----------------+
 |      |(value <=> NULL)|(value <=> NaN)|(value <=> 42.0)|
 |      +----------------+---------------+----------------+
 |      |           false|           true|           false|
 |      |           false|          false|            true|
 |      |            true|          false|           false|
 |      +----------------+---------------+----------------+
 |
 |      Notes
 |      -----
 |      Unlike Pandas, PySpark doesn't consider NaN values to be NULL. See the
 |      `NaN Semantics <https://spark.apache.org/docs/latest/sql-ref-datatypes.html#nan-semantics>`_
 |      for details.
 |
 |  getField(self, name)
 |      An expression that gets a field by name in a :class:`StructType`.
 |
 |      .. versionadded:: 1.3.0
 |
 |      Examples
 |      --------
 |      >>> from pyspark.sql import Row
 |      >>> df = spark.createDataFrame([Row(r=Row(a=1, b="b"))])
 |      >>> df.select(df.r.getField("b")).show()
 |      +---+
 |      |r.b|
 |      +---+
 |      |  b|
 |      +---+
 |      >>> df.select(df.r.a).show()
 |      +---+
 |      |r.a|
 |      +---+
 |      |  1|
 |      +---+
 |
 |  getItem(self, key)
 |      An expression that gets an item at position ``ordinal`` out of a list,
 |      or gets an item by key out of a dict.
 |
 |      .. versionadded:: 1.3.0
 |
 |      Examples
 |      --------
 |      >>> df = spark.createDataFrame([([1, 2], {"key": "value"})], ["l", "d"])
 |      >>> df.select(df.l.getItem(0), df.d.getItem("key")).show()
 |      +----+------+
 |      |l[0]|d[key]|
 |      +----+------+
 |      |   1| value|
 |      +----+------+
 |
 |  isNotNull = _(self)
 |      True if the current expression is NOT null.
 |
 |      Examples
 |      --------
 |      >>> from pyspark.sql import Row
 |      >>> df = spark.createDataFrame([Row(name='Tom', height=80), Row(name='Alice', height=None)])
 |      >>> df.filter(df.height.isNotNull()).collect()
 |      [Row(name='Tom', height=80)]
 |
 |  isNull = _(self)
 |      True if the current expression is null.
 |
 |      Examples
 |      --------
 |      >>> from pyspark.sql import Row
 |      >>> df = spark.createDataFrame([Row(name='Tom', height=80), Row(name='Alice', height=None)])
 |      >>> df.filter(df.height.isNull()).collect()
 |      [Row(name='Alice', height=None)]
 |
 |  isin(self, *cols)
 |      A boolean expression that is evaluated to true if the value of this
 |      expression is contained by the evaluated values of the arguments.
 |
 |      .. versionadded:: 1.5.0
 |
 |      Examples
 |      --------
 |      >>> df[df.name.isin("Bob", "Mike")].collect()
 |      [Row(age=5, name='Bob')]
 |      >>> df[df.age.isin([1, 2, 3])].collect()
 |      [Row(age=2, name='Alice')]
 |
 |  like = _(self, other)
 |      SQL like expression. Returns a boolean :class:`Column` based on a SQL LIKE match.
 |
 |      Parameters
 |      ----------
 |      other : str
 |          a SQL LIKE pattern
 |
 |      See Also
 |      --------
 |      pyspark.sql.Column.rlike
 |
 |      Examples
 |      --------
 |      >>> df.filter(df.name.like('Al%')).collect()
 |      [Row(age=2, name='Alice')]
 |
 |  name = alias(self, *alias, **kwargs)
 |      :func:`name` is an alias for :func:`alias`.
 |
 |      .. versionadded:: 2.0
 |
 |  otherwise(self, value)
 |      Evaluates a list of conditions and returns one of multiple possible result expressions.
 |      If :func:`Column.otherwise` is not invoked, None is returned for unmatched conditions.
 |
 |      .. versionadded:: 1.4.0
 |
 |      Parameters
 |      ----------
 |      value
 |          a literal value, or a :class:`Column` expression.
 |
 |      Examples
 |      --------
 |      >>> from pyspark.sql import functions as F
 |      >>> df.select(df.name, F.when(df.age > 3, 1).otherwise(0)).show()
 |      +-----+-------------------------------------+
 |      | name|CASE WHEN (age > 3) THEN 1 ELSE 0 END|
 |      +-----+-------------------------------------+
 |      |Alice|                                    0|
 |      |  Bob|                                    1|
 |      +-----+-------------------------------------+
 |
 |      See Also
 |      --------
 |      pyspark.sql.functions.when
 |
 |  over(self, window)
 |      Define a windowing column.
 |
 |      .. versionadded:: 1.4.0
 |
 |      Parameters
 |      ----------
 |      window : :class:`WindowSpec`
 |
 |      Returns
 |      -------
 |      :class:`Column`
 |
 |      Examples
 |      --------
 |      >>> from pyspark.sql import Window
 |      >>> window = Window.partitionBy("name").orderBy("age")                 .rowsBetween(Window.unboundedPreceding, Window.currentRow)
 |      >>> from pyspark.sql.functions import rank, min
 |      >>> from pyspark.sql.functions import desc
 |      >>> df.withColumn("rank", rank().over(window))                 .withColumn("min", min('age').over(window)).sort(desc("age")).show()
 |      +---+-----+----+---+
 |      |age| name|rank|min|
 |      +---+-----+----+---+
 |      |  5|  Bob|   1|  5|
 |      |  2|Alice|   1|  2|
 |      +---+-----+----+---+
 |
 |  rlike = _(self, other)
 |      SQL RLIKE expression (LIKE with Regex). Returns a boolean :class:`Column` based on a regex
 |      match.
 |
 |      Parameters
 |      ----------
 |      other : str
 |          an extended regex expression
 |
 |      Examples
 |      --------
 |      >>> df.filter(df.name.rlike('ice$')).collect()
 |      [Row(age=2, name='Alice')]
 |
 |  startswith = _(self, other)
 |      String starts with. Returns a boolean :class:`Column` based on a string match.
 |
 |      Parameters
 |      ----------
 |      other : :class:`Column` or str
 |          string at start of line (do not use a regex `^`)
 |
 |      Examples
 |      --------
 |      >>> df.filter(df.name.startswith('Al')).collect()
 |      [Row(age=2, name='Alice')]
 |      >>> df.filter(df.name.startswith('^Al')).collect()
 |      []
 |
 |  substr(self, startPos, length)
 |      Return a :class:`Column` which is a substring of the column.
 |
 |      .. versionadded:: 1.3.0
 |
 |      Parameters
 |      ----------
 |      startPos : :class:`Column` or int
 |          start position
 |      length : :class:`Column` or int
 |          length of the substring
 |
 |      Examples
 |      --------
 |      >>> df.select(df.name.substr(1, 3).alias("col")).collect()
 |      [Row(col='Ali'), Row(col='Bob')]
 |
 |  when(self, condition, value)
 |      Evaluates a list of conditions and returns one of multiple possible result expressions.
 |      If :func:`Column.otherwise` is not invoked, None is returned for unmatched conditions.
 |
 |      .. versionadded:: 1.4.0
 |
 |      Parameters
 |      ----------
 |      condition : :class:`Column`
 |          a boolean :class:`Column` expression.
 |      value
 |          a literal value, or a :class:`Column` expression.
 |
 |      Examples
 |      --------
 |      >>> from pyspark.sql import functions as F
 |      >>> df.select(df.name, F.when(df.age > 4, 1).when(df.age < 3, -1).otherwise(0)).show()
 |      +-----+------------------------------------------------------------+
 |      | name|CASE WHEN (age > 4) THEN 1 WHEN (age < 3) THEN -1 ELSE 0 END|
 |      +-----+------------------------------------------------------------+
 |      |Alice|                                                          -1|
 |      |  Bob|                                                           1|
 |      +-----+------------------------------------------------------------+
 |

In [207]:
e2_df.withColumn("bonus","salary"*lit(0.2)).show()

# it will not work as "salary" is string and lit(0.2) is a column

+-----------+----------+---------+------+--------------+----------------+-----------+-----+
|employee_id|first_name|last_name|salary|   nationality|    phone_number|        ssn|bonus|
+-----------+----------+---------+------+--------------+----------------+-----------+-----+
|          1|     Scott|    Tiger|1000.0| united states| +1 123 456 7890|123 45 6789| null|
|          4|     Henry|     Ford|1250.0|         India|+91 234 567 8901|456 78 9123| null|
|          3|      Nick|   Junior| 750.0|united KINGDOM|+44 111 111 1111|222 33 4444| null|
|          4|      Bill|    Gomes|1500.0|     AUSTRALIA|+61 987 654 3210|789 12 6118| null|
+-----------+----------+---------+------+--------------+----------------+-----------+-----+

In [209]:
e2_df.withColumn("bonus",col("salary")*lit(0.2)).show()

+-----------+----------+---------+------+--------------+----------------+-----------+-----+
|employee_id|first_name|last_name|salary|   nationality|    phone_number|        ssn|bonus|
+-----------+----------+---------+------+--------------+----------------+-----------+-----+
|          1|     Scott|    Tiger|1000.0| united states| +1 123 456 7890|123 45 6789|200.0|
|          4|     Henry|     Ford|1250.0|         India|+91 234 567 8901|456 78 9123|250.0|
|          3|      Nick|   Junior| 750.0|united KINGDOM|+44 111 111 1111|222 33 4444|150.0|
|          4|      Bill|    Gomes|1500.0|     AUSTRALIA|+61 987 654 3210|789 12 6118|300.0|
+-----------+----------+---------+------+--------------+----------------+-----------+-----+

## Common String Manipulation Functions

In [224]:
# Concatenating strings

# We can pass a variable number of strings to concat function.
# It will return one string concatenating all the strings.
# If we have to concatenate literal in between then we have to use lit function.




# Case Conversion and Length

# Convert all the alphabetic characters in a string to uppercase - upper
# Convert all the alphabetic characters in a string to lowercase - lower
# Convert first character in a string to uppercase - initcap
# Get number of characters in a string - length


# All the 4 functions take column type argument

In [225]:
from pyspark.sql.functions import concat
e2_df. \
    select(concat("first_name", "last_name").alias("full_name")). \
    show()

+----------+
| full_name|
+----------+
|ScottTiger|
| HenryFord|
|NickJunior|
| BillGomes|
+----------+

In [227]:
from pyspark.sql.functions import concat_ws

In [228]:
help(concat_ws)

Help on function concat_ws in module pyspark.sql.functions:

concat_ws(sep, *cols)
    Concatenates multiple input string columns together into a single string column,
    using the given separator.

    .. versionadded:: 1.5.0

    Examples
    --------
    >>> df = spark.createDataFrame([('abcd','123')], ['s', 'd'])
    >>> df.select(concat_ws('-', df.s, df.d).alias('s')).collect()
    [Row(s='abcd-123')]

In [235]:
e2_df.select(concat_ws(", -","first_name","last_name").alias("concat_ws")).show()


e2_df.select(concat_ws(", -","first_name","last_name","salary","nationality").alias("concat_ws")).show(truncate=False)

+-------------+
|    concat_ws|
+-------------+
|Scott, -Tiger|
| Henry, -Ford|
|Nick, -Junior|
| Bill, -Gomes|
+-------------+

+--------------------------------------+
|concat_ws                             |
+--------------------------------------+
|Scott, -Tiger, -1000.0, -united states|
|Henry, -Ford, -1250.0, -India         |
|Nick, -Junior, -750.0, -united KINGDOM|
|Bill, -Gomes, -1500.0, -AUSTRALIA     |
+--------------------------------------+

### Case Conversion and Length

In [242]:
from pyspark.sql.functions import col,lower,upper,initcap,length

In [243]:
help(lower) # - returns a column

Help on function lower in module pyspark.sql.functions:

lower(col)
    Converts a string expression to lower case.

    .. versionadded:: 1.5

In [247]:
help(initcap),help(length) # -both returns a column

Help on function initcap in module pyspark.sql.functions:

initcap(col)
    Translate the first letter of each word to upper case in the sentence.

    .. versionadded:: 1.5.0

    Examples
    --------
    >>> spark.createDataFrame([('ab cd',)], ['a']).select(initcap("a").alias('v')).collect()
    [Row(v='Ab Cd')]

Help on function length in module pyspark.sql.functions:

length(col)
    Computes the character length of string data or number of bytes of binary data.
    The length of character data includes the trailing spaces. The length of binary data
    includes binary zeros.

    .. versionadded:: 1.5.0

    Examples
    --------
    >>> spark.createDataFrame([('ABC ',)], ['a']).select(length('a').alias('length')).collect()
    [Row(length=4)]

(None, None)

In [251]:
e2_df.select("employee_id","nationality").\
        withColumn("nationality_upper",upper(col("nationality"))).\
        withColumn("nationality initcap",initcap(col("nationality"))).\
        withColumn("lenght",length(col("nationality"))).show()

+-----------+--------------+-----------------+-------------------+------+
|employee_id|   nationality|nationality_upper|nationality initcap|lenght|
+-----------+--------------+-----------------+-------------------+------+
|          1| united states|    UNITED STATES|      United States|    13|
|          4|         India|            INDIA|              India|     5|
|          3|united KINGDOM|   UNITED KINGDOM|     United Kingdom|    14|
|          4|     AUSTRALIA|        AUSTRALIA|          Australia|     9|
+-----------+--------------+-----------------+-------------------+------+

## Extracting Strings using substring

In [252]:
# If we are processing fixed length columns then we use substring to extract the information.

# Here are some of the examples for fixed length columns and the use cases for which we typically extract information..

# 9 Digit Social Security Number. We typically extract last 4 digits and provide it to the tele verification applications..

# 16 Digit Credit Card Number. We typically use first 4 digit number to identify Credit Card Provider and last 4 digits for the purpose of tele verification.

# Data coming from MainFrames systems are quite often fixed length. We might have to extract the information and store in multiple columns.

# substring function takes 3 arguments, column, position, length. We can also provide position from the end by passing negative value.

In [254]:
from pyspark.sql.functions import substring

help(substring)

Help on function substring in module pyspark.sql.functions:

substring(str, pos, len)
    Substring starts at `pos` and is of length `len` when str is String type or
    returns the slice of byte array that starts at `pos` in byte and is of length `len`
    when str is Binary type.

    .. versionadded:: 1.5.0

    Notes
    -----
    The position is not zero based, but 1 based index.

    Examples
    --------
    >>> df = spark.createDataFrame([('abcd',)], ['s',])
    >>> df.select(substring(df.s, 1, 2).alias('s')).collect()
    [Row(s='ab')]

In [261]:
l= [ ("x",)]
 
df_e = spark.createDataFrame(l,["dummy"])

# or 

df_e = spark.createDataFrame(l,"dummy string")

df_e.show()

+-----+
|dummy|
+-----+
|    x|
+-----+

In [277]:
df.select(substring(lit("hello world"),-5,5)).show()

df.select(substring(lit("hello world"),-2,5)).show()

# from -2 position, it take 5 chars

df.select(substring(lit("hello world"),7,4)).show()

+-----------------------------+
|substring(hello world, -5, 5)|
+-----------------------------+
|                        world|
+-----------------------------+

+-----------------------------+
|substring(hello world, -2, 5)|
+-----------------------------+
|                           ld|
+-----------------------------+

+----------------------------+
|substring(hello world, 7, 4)|
+----------------------------+
|                        worl|
+----------------------------+

### Tasks - substring

In [295]:


# Let us perform few tasks to extract information from fixed length strings.

        # Create a list for employees with name, ssn and phone_number.
    
        # SSN Format 3 2 4 - Fixed Length with 11 characters(3 digits,2digits,4 digits)
        
        # Phone Number Format - Country Code is variable and remaining phone number have 10 digits:
                # Country Code - one to 3 digits
                # Area Code - 3 digits
                # Phone Number Prefix - 3 digits
                # Phone Number Remaining - 4 digits
                # All the 4 parts are separated by spaces
                
        # Create a Dataframe with column names name, ssn and phone_number
        # Extract last 4 digits from the phone number.
        # Extract last 4 digits from SSN.

In [296]:
from pyspark.sql.functions import substring, col
e2_df.show()

+-----------+----------+---------+------+--------------+----------------+-----------+
|employee_id|first_name|last_name|salary|   nationality|    phone_number|        ssn|
+-----------+----------+---------+------+--------------+----------------+-----------+
|          1|     Scott|    Tiger|1000.0| united states| +1 123 456 7890|123 45 6789|
|          4|     Henry|     Ford|1250.0|         India|+91 234 567 8901|456 78 9123|
|          3|      Nick|   Junior| 750.0|united KINGDOM|+44 111 111 1111|222 33 4444|
|          4|      Bill|    Gomes|1500.0|     AUSTRALIA|+61 987 654 3210|789 12 6118|
+-----------+----------+---------+------+--------------+----------------+-----------+

In [300]:
e2_df.select(
    substring(col("ssn"),-4,4).alias("ssn_m").cast("int"),\
             substring(col("phone_number"),-4,4).alias("phone_m"),\
             "first_name","last_name").\
withColumn("full_name",concat(col("first_name"),lit(", "),col("last_name"))).\
show()


# The withColumn creates a new column.It needs columns that are present in select or withput select( as withput select, all coliumns are implied)

+-----+-------+----------+---------+------------+
|ssn_m|phone_m|first_name|last_name|   full_name|
+-----+-------+----------+---------+------------+
| 6789|   7890|     Scott|    Tiger|Scott, Tiger|
| 9123|   8901|     Henry|     Ford| Henry, Ford|
| 4444|   1111|      Nick|   Junior|Nick, Junior|
| 6118|   3210|      Bill|    Gomes| Bill, Gomes|
+-----+-------+----------+---------+------------+


## Extracting Strings using split

In [303]:
# If we are processing variable length columns with delimiter then we use split to extract the information.

# Here are some of the examples for variable length columns and the use cases for which we typically extract information.

        # Address where we store House Number, Street Name, City, State and Zip Code comma separated. We might want to extract City and State for demographics reports.

# split takes 2 arguments, column and delimiter.

# split convert each string into array and we can access the elements using index.

# We can also use explode in conjunction with split to explode the list or array into records in Data Frame. It can be used in cases such as word count, phone count etc.

In [304]:
from pyspark.sql.functions import split,explode,lit

In [305]:
help(split)

Help on function split in module pyspark.sql.functions:

split(str, pattern, limit=-1)
    Splits str around matches of the given pattern.

    .. versionadded:: 1.5.0

    Parameters
    ----------
    str : :class:`~pyspark.sql.Column` or str
        a string expression to split
    pattern : str
        a string representing a regular expression. The regex string should be
        a Java regular expression.
    limit : int, optional
        an integer which controls the number of times `pattern` is applied.

        * ``limit > 0``: The resulting array's length will not be more than `limit`, and the
                         resulting array's last entry will contain all input beyond the last
                         matched pattern.
        * ``limit <= 0``: `pattern` will be applied as many times as possible, and the resulting
                          array can be of any size.

        .. versionchanged:: 3.0
           `split` now takes an optional `limit` field. If not provided, default limit value is -1.

    Examples
    --------
    >>> df = spark.createDataFrame([('oneAtwoBthreeC',)], ['s',])
    >>> df.select(split(df.s, '[ABC]', 2).alias('s')).collect()
    [Row(s=['one', 'twoBthreeC'])]
    >>> df.select(split(df.s, '[ABC]', -1).alias('s')).collect()
    [Row(s=['one', 'two', 'three', ''])]

In [306]:
help(explode)

Help on function explode in module pyspark.sql.functions:

explode(col)
    Returns a new row for each element in the given array or map.
    Uses the default column name `col` for elements in the array and
    `key` and `value` for elements in the map unless specified otherwise.

    .. versionadded:: 1.4.0

    Examples
    --------
    >>> from pyspark.sql import Row
    >>> eDF = spark.createDataFrame([Row(a=1, intlist=[1,2,3], mapfield={"a": "b"})])
    >>> eDF.select(explode(eDF.intlist).alias("anInt")).collect()
    [Row(anInt=1), Row(anInt=2), Row(anInt=3)]

    >>> eDF.select(explode(eDF.mapfield).alias("key", "value")).show()
    +---+-----+
    |key|value|
    +---+-----+
    |  a|    b|
    +---+-----+

In [326]:
df_e.select(split(lit("hello world, how are u")," ",limit=1)).show(truncate=False)

df_e.select(split(lit("hello world, how are u")," ",limit=3)).show(truncate=False)

df_e.select(split(lit("hello world, how are u")," ")).show(truncate=False)

df_e.select(split(lit("hello world, how are u")," ")[3]).show(truncate=False)

+-----------------------------------+
|split(hello world, how are u,  , 1)|
+-----------------------------------+
|[hello world, how are u]           |
+-----------------------------------+

+-----------------------------------+
|split(hello world, how are u,  , 3)|
+-----------------------------------+
|[hello, world,, how are u]         |
+-----------------------------------+

+------------------------------------+
|split(hello world, how are u,  , -1)|
+------------------------------------+
|[hello, world,, how, are, u]        |
+------------------------------------+

+---------------------------------------+
|split(hello world, how are u,  , -1)[3]|
+---------------------------------------+
|are                                    |
+---------------------------------------+

In [325]:
df_e.select(explode(split(lit("hello world, how are u")," "))).show(truncate=False)

+------+
|col   |
+------+
|hello |
|world,|
|how   |
|are   |
|u     |
+------+

In [340]:
employees = [(1, "Scott", "Tiger", 1000.0, 
                      "united states", "+1 123 456 7890,+1 234 567 8901", "123 45 6789"
                     ),
                     (2, "Henry", "Ford", 1250.0, 
                      "India", "+91 234 567 8901", "456 78 9123"
                     ),
                     (3, "Nick", "Junior", 750.0, 
                      "united KINGDOM", "+44 111 111 1111,+44 222 222 2222", "222 33 4444"
                     ),
                     (4, "Bill", "Gomes", 1500.0, 
                      "AUSTRALIA", "+61 987 654 3210,+61 876 543 2109", "789 12 6118"
                     )
                ]



employeesDF = spark. \
    createDataFrame(employees,
                    schema="""employee_id INT, first_name STRING, 
                    last_name STRING, salary FLOAT, nationality STRING,
                    phone_numbers STRING, ssn STRING"""
                   )

employeesDF.show(truncate=False)


# example for split and explode

employeesDF.select("employee_id","phone_numbers","ssn").\
            withColumn("phone",split("phone_numbers",",")).show(truncate=False)


# explode will be used to get new row for every element in a list

employeesDF.select("employee_id","phone_numbers","ssn").\
            withColumn("phone",explode(split("phone_numbers",","))).show(truncate=False)

+-----------+----------+---------+------+--------------+---------------------------------+-----------+
|employee_id|first_name|last_name|salary|nationality   |phone_numbers                    |ssn        |
+-----------+----------+---------+------+--------------+---------------------------------+-----------+
|1          |Scott     |Tiger    |1000.0|united states |+1 123 456 7890,+1 234 567 8901  |123 45 6789|
|2          |Henry     |Ford     |1250.0|India         |+91 234 567 8901                 |456 78 9123|
|3          |Nick      |Junior   |750.0 |united KINGDOM|+44 111 111 1111,+44 222 222 2222|222 33 4444|
|4          |Bill      |Gomes    |1500.0|AUSTRALIA     |+61 987 654 3210,+61 876 543 2109|789 12 6118|
+-----------+----------+---------+------+--------------+---------------------------------+-----------+

+-----------+---------------------------------+-----------+------------------------------------+
|employee_id|phone_numbers                    |ssn        |phone                               |
+-----------+---------------------------------+-----------+------------------------------------+
|1          |+1 123 456 7890,+1 234 567 8901  |123 45 6789|[+1 123 456 7890, +1 234 567 8901]  |
|2          |+91 234 567 8901                 |456 78 9123|[+91 234 567 8901]                  |
|3          |+44 111 111 1111,+44 222 222 2222|222 33 4444|[+44 111 111 1111, +44 222 222 2222]|
|4          |+61 987 654 3210,+61 876 543 2109|789 12 6118|[+61 987 654 3210, +61 876 543 2109]|
+-----------+---------------------------------+-----------+------------------------------------+

+-----------+---------------------------------+-----------+----------------+
|employee_id|phone_numbers                    |ssn        |phone           |
+-----------+---------------------------------+-----------+----------------+
|1          |+1 123 456 7890,+1 234 567 8901  |123 45 6789|+1 123 456 7890 |
|1          |+1 123 456 7890,+1 234 567 8901  |123 45 6789|+1 234 567 8901 |
|2          |+91 234 567 8901                 |456 78 9123|+91 234 567 8901|
|3          |+44 111 111 1111,+44 222 222 2222|222 33 4444|+44 111 111 1111|
|3          |+44 111 111 1111,+44 222 222 2222|222 33 4444|+44 222 222 2222|
|4          |+61 987 654 3210,+61 876 543 2109|789 12 6118|+61 987 654 3210|
|4          |+61 987 654 3210,+61 876 543 2109|789 12 6118|+61 876 543 2109|
+-----------+---------------------------------+-----------+----------------+


## Padding Characters around Strings

In [341]:
# We typically pad characters to build fixed length values or records.

# Fixed length values or records are extensively used in Mainframes based systems.

# Length of each and every field in fixed length records is predetermined and if the value of the field is less than the predetermined length then we pad with a standard character.

# In terms of numeric fields we pad with zero on the leading or left side. For non numeric fields, we pad with some standard character on leading or trailing side.

# We use lpad to pad a string with a specific character on leading or left side and rpad to pad on trailing or right side.

# Both lpad and rpad, take 3 arguments - column or expression, desired length and the character need to be padded.

### Tasks - Padding Strings

In [354]:


# Let us perform simple tasks to understand the syntax of lpad or rpad.

        # Create a Dataframe with single value and single column.
        # Apply lpad to pad with - to Hello to make it 10 characters.
        

# Both lpad and rpad, take 3 arguments - 
                #  column or expression, desired length and the character 
                                #  need to be padded.
        
        
# lpad(col, len, pad)
#     Left-pad the string column to width `len` with `pad`.

In [345]:
help(lpad)

Help on function lpad in module pyspark.sql.functions:

lpad(col, len, pad)
    Left-pad the string column to width `len` with `pad`.

    .. versionadded:: 1.5.0

    Examples
    --------
    >>> df = spark.createDataFrame([('abcd',)], ['s',])
    >>> df.select(lpad(df.s, 6, '#').alias('s')).collect()
    [Row(s='##abcd')]

In [344]:
from pyspark.sql.functions import lpad, rpad, concat

In [360]:
empFixedDF = employeesDF.select(
    concat(
        lpad("employee_id", 5, "0"), lit(" "),
        rpad("first_name", 10, "-"), 
        rpad("last_name", 10, "-"),
        lpad("salary", 10, "0").cast("int"), lit(" "),
        rpad(upper("nationality"), 15, "-"), lit(" "),
        rpad("phone_numbers", 17, "-"), 
        "ssn"
    ).alias("employee")
)
empFixedDF.show(truncate=False)

+---------------------------------------------------------------------------+
|employee                                                                   |
+---------------------------------------------------------------------------+
|00001 Scott-----Tiger-----1000 UNITED STATES-- +1 123 456 7890,+123 45 6789|
|00002 Henry-----Ford------1250 INDIA---------- +91 234 567 8901-456 78 9123|
|00003 Nick------Junior----750 UNITED KINGDOM- +44 111 111 1111,222 33 4444 |
|00004 Bill------Gomes-----1500 AUSTRALIA------ +61 987 654 3210,789 12 6118|
+---------------------------------------------------------------------------+

In [358]:
l= [("X",)]

df = spark.createDataFrame(l,"dummy string")

# we need a sparkdataframe to use these functions

df.select(lpad(col("dummy"),10,"0")).show()

+------------------+
|lpad(dummy, 10, 0)|
+------------------+
|        000000000X|
+------------------+

## Trimming Characters from Strings

In [361]:
# We typically use trimming to remove unnecessary characters from fixed length records.

# Fixed length records are extensively used in Mainframes and we might have to process it using Spark.

# As part of processing we might want to remove leading or trailing characters such as 0 in case of numeric types and 
                        #  space or some standard character in case of alphanumeric types.

# As of now Spark trim functions take the column as argument and remove leading or trailing spaces. 
                #  However, we can use expr or selectExpr to use Spark SQL based trim functions to remove leading or trailing spaces or any other such characters.

#         Trim spaces towards left - ltrim
#         Trim spaces towards right - rtrim
#         Trim spaces on both sides - trim

In [407]:
l = [ ("  --Hello----....   ",) ]

df = spark.createDataFrame(l).toDF("dummy")

df.show()

+--------------------+
|               dummy|
+--------------------+
|  --Hello----....   |
+--------------------+

In [408]:
from pyspark.sql.functions import trim,rtrim,ltrim
help(trim)
help(rtrim)

Help on function trim in module pyspark.sql.functions:

trim(col)
    Trim the spaces from both ends for the specified string column.

    .. versionadded:: 1.5

Help on function rtrim in module pyspark.sql.functions:

rtrim(col)
    Trim the spaces from right end for the specified string value.

    .. versionadded:: 1.5

In [409]:
df.select(rtrim("dummy"),ltrim("dummy"),trim("dummy"),"dummy").show(truncate=False)

+-----------------+------------------+---------------+--------------------+
|rtrim(dummy)     |ltrim(dummy)      |trim(dummy)    |dummy               |
+-----------------+------------------+---------------+--------------------+
|  --Hello----....|--Hello----....   |--Hello----....|  --Hello----....   |
+-----------------+------------------+---------------+--------------------+

In [410]:
from pyspark.sql.functions import expr

In [411]:
# help in spark.sql

spark.sql("DESCRIBE FUNCTION trim").show(truncate=False)

+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|function_desc                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             |
+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|Function: trim                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            |
|Class: org.apache.spark.sql.catalyst.expressions.StringTrim                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               |
|Usage: \n    trim(str) - Removes the leading and trailing space characters from `str`.\n\n    trim(BOTH FROM str) - Removes the leading and trailing space characters from `str`.\n\n    trim(LEADING FROM str) - Removes the leading space characters from `str`.\n\n    trim(TRAILING FROM str) - Removes the trailing space characters from `str`.\n\n    trim(trimStr FROM str) - Remove the leading and trailing `trimStr` characters from `str`.\n\n    trim(BOTH trimStr FROM str) - Remove the leading and trailing `trimStr` characters from `str`.\n\n    trim(LEADING trimStr FROM str) - Remove the leading `trimStr` characters from `str`.\n\n    trim(TRAILING trimStr FROM str) - Remove the trailing `trimStr` characters from `str`.\n  |
+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+

In [412]:
# if we do not specify trimStr, it will be defaulted to space
df.withColumn("ltrim", expr("ltrim(dummy)")). \
  withColumn("rtrim", expr("rtrim('.', rtrim(dummy))")). \
  withColumn("trim", trim(col("dummy"))). \
  show(truncate=False
      )


# here thrid line removes the dots

+--------------------+------------------+-------------+---------------+
|dummy               |ltrim             |rtrim        |trim           |
+--------------------+------------------+-------------+---------------+
|  --Hello----....   |--Hello----....   |  --Hello----|--Hello----....|
+--------------------+------------------+-------------+---------------+


## Date and Time Manipulation Functions

In [416]:
# We can use current_date to get todays server date.

        # Date will be returned using yyyy-MM-dd format.
    
    
    
    
# We can use current_timestamp to get current server time.

        # Timestamp will be returned using yyyy-MM-dd HH:mm:ss:SSS format.
    
        # Hours will be by default in 24 hour format.

In [420]:
l = [ ("m",)]

df = spark.createDataFrame(l).toDF("dummy")

from pyspark.sql.functions import current_date,current_timestamp

df.select(current_date()).show()

df.select(current_timestamp()).show(truncate=False)

+--------------+
|current_date()|
+--------------+
|    2023-06-30|
+--------------+

+-------------------------+
|current_timestamp()      |
+-------------------------+
|2023-06-30 17:08:10.74095|
+-------------------------+

In [423]:
# We can convert a string which contain date ("20210128") or timestamp (20210123122500125) in non-standard format to standard date or time 
#        using to_date or to_timestamp function respectively.

In [422]:
from pyspark.sql.functions import lit, to_date, to_timestamp


help(to_date)

help(to_timestamp)

Help on function to_date in module pyspark.sql.functions:

to_date(col, format=None)
    Converts a :class:`~pyspark.sql.Column` into :class:`pyspark.sql.types.DateType`
    using the optionally specified format. Specify formats according to `datetime pattern`_.
    By default, it follows casting rules to :class:`pyspark.sql.types.DateType` if the format
    is omitted. Equivalent to ``col.cast("date")``.

    .. _datetime pattern: https://spark.apache.org/docs/latest/sql-ref-datetime-pattern.html

    .. versionadded:: 2.2.0

    Examples
    --------
    >>> df = spark.createDataFrame([('1997-02-28 10:30:00',)], ['t'])
    >>> df.select(to_date(df.t).alias('date')).collect()
    [Row(date=datetime.date(1997, 2, 28))]

    >>> df = spark.createDataFrame([('1997-02-28 10:30:00',)], ['t'])
    >>> df.select(to_date(df.t, 'yyyy-MM-dd HH:mm:ss').alias('date')).collect()
    [Row(date=datetime.date(1997, 2, 28))]

Help on function to_timestamp in module pyspark.sql.functions:

to_timestamp(col, format=None)
    Converts a :class:`~pyspark.sql.Column` into :class:`pyspark.sql.types.TimestampType`
    using the optionally specified format. Specify formats according to `datetime pattern`_.
    By default, it follows casting rules to :class:`pyspark.sql.types.TimestampType` if the format
    is omitted. Equivalent to ``col.cast("timestamp")``.

    .. _datetime pattern: https://spark.apache.org/docs/latest/sql-ref-datetime-pattern.html

    .. versionadded:: 2.2.0

    Examples
    --------
    >>> df = spark.createDataFrame([('1997-02-28 10:30:00',)], ['t'])
    >>> df.select(to_timestamp(df.t).alias('dt')).collect()
    [Row(dt=datetime.datetime(1997, 2, 28, 10, 30))]

    >>> df = spark.createDataFrame([('1997-02-28 10:30:00',)], ['t'])
    >>> df.select(to_timestamp(df.t, 'yyyy-MM-dd HH:mm:ss').alias('dt')).collect()
    [Row(dt=datetime.datetime(1997, 2, 28, 10, 30))]

In [442]:
df.select(to_date(lit("20210228"),"yyyyMMdd")).show()


# M - months
# m - minutes

df.select(to_timestamp(lit("20210123122500"),"yyyyMMddHHmmss")).show()

+---------------------------+
|to_date(20210228, yyyyMMdd)|
+---------------------------+
|                 2021-02-28|
+---------------------------+

+--------------------------------------------+
|to_timestamp(20210123122500, yyyyMMddHHmmss)|
+--------------------------------------------+
|                         2021-01-23 12:25:00|
+--------------------------------------------+

#  Date and Time Arithmetic

In [445]:
#  Date and Time Arithmetic


# Adding days to a date or timestamp - date_add

# Subtracting days from a date or timestamp - date_sub

# Getting difference between 2 dates or timestamps - datediff

# Getting the number of months between 2 dates or timestamps - months_between

# Adding months to a date or timestamp - add_months

# Getting next day from a given date - next_day

# All the functions are self explanatory. We can apply these on standard date or timestamp. 
#                           All the functions return date even when applied on timestamp field.

In [447]:
from pyspark.sql.functions import date_add,date_sub

help(date_add)

Help on function date_add in module pyspark.sql.functions:

date_add(start, days)
    Returns the date that is `days` days after `start`

    .. versionadded:: 1.5.0

    Examples
    --------
    >>> df = spark.createDataFrame([('2015-04-08',)], ['dt'])
    >>> df.select(date_add(df.dt, 1).alias('next_date')).collect()
    [Row(next_date=datetime.date(2015, 4, 9))]

In [462]:
datetimes = [("2014-02-28", "2014-02-28 10:00:00.123"),
                     ("2016-02-29", "2016-02-29 08:08:08.999"),
                     ("2017-10-31", "2017-12-31 11:59:59.123"),
                     ("2019-11-30", "2019-08-31 00:00:00.000")
                ]

from pyspark.sql.functions import date_add,date_sub,next_day

d = spark.createDataFrame(datetimes,"date string,Time string")

d.show(truncate=False)

+----------+-----------------------+
|date      |Time                   |
+----------+-----------------------+
|2014-02-28|2014-02-28 10:00:00.123|
|2016-02-29|2016-02-29 08:08:08.999|
|2017-10-31|2017-12-31 11:59:59.123|
|2019-11-30|2019-08-31 00:00:00.000|
+----------+-----------------------+

In [469]:
d.\
    withColumn("date_add_date",date_add("date",10)).\
    withColumn("date_subtract",date_sub("date",10)).\
\
    withColumn("date_add_time",date_add("Time",10)).\
    withColumn("date_sub_time",date_sub("Time",10)).\
    withColumn("next_day",next_day("date","Sun")).show(truncate=False)

+----------+-----------------------+-------------+-------------+-------------+-------------+----------+
|date      |Time                   |date_add_date|date_subtract|date_add_time|date_sub_time|next_day  |
+----------+-----------------------+-------------+-------------+-------------+-------------+----------+
|2014-02-28|2014-02-28 10:00:00.123|2014-03-10   |2014-02-18   |2014-03-10   |2014-02-18   |2014-03-02|
|2016-02-29|2016-02-29 08:08:08.999|2016-03-10   |2016-02-19   |2016-03-10   |2016-02-19   |2016-03-06|
|2017-10-31|2017-12-31 11:59:59.123|2017-11-10   |2017-10-21   |2018-01-10   |2017-12-21   |2017-11-05|
|2019-11-30|2019-08-31 00:00:00.000|2019-12-10   |2019-11-20   |2019-09-10   |2019-08-21   |2019-12-01|
+----------+-----------------------+-------------+-------------+-------------+-------------+----------+

In [471]:
## Get the difference between current_date and date values as well as current_timestamp and time values.

# datediff(end, start) :-   Returns the number of days from `start` to `end`.

from pyspark.sql.functions import current_date, current_timestamp, datediff

d. \
    withColumn("datediff_date", datediff(current_date(), "date")). \
    withColumn("datediff_time", datediff(current_timestamp(), "time")). \
    show()


# Get the number of months between current_date and date values as well as current_timestamp and time values.

# Add 3 months to both date values as well as time values.

from pyspark.sql.functions import months_between, add_months, round

d. \
    withColumn("months_between_date", round(months_between(current_date(), "date"), 2)). \
    withColumn("months_between_time", round(months_between(current_timestamp(), "time"), 2)). \
    withColumn("add_months_date", add_months("date", 3)). \
    withColumn("add_months_time", add_months("time", 3)). \
    show(truncate=False)

+----------+--------------------+-------------+-------------+
|      date|                Time|datediff_date|datediff_time|
+----------+--------------------+-------------+-------------+
|2014-02-28|2014-02-28 10:00:...|         3409|         3409|
|2016-02-29|2016-02-29 08:08:...|         2678|         2678|
|2017-10-31|2017-12-31 11:59:...|         2068|         2007|
|2019-11-30|2019-08-31 00:00:...|         1308|         1399|
+----------+--------------------+-------------+-------------+

+----------+-----------------------+-------------------+-------------------+---------------+---------------+
|date      |Time                   |months_between_date|months_between_time|add_months_date|add_months_time|
+----------+-----------------------+-------------------+-------------------+---------------+---------------+
|2014-02-28|2014-02-28 10:00:00.123|112.0              |112.0              |2014-05-28     |2014-05-28     |
|2016-02-29|2016-02-29 08:08:08.999|88.0               |88.0               |2016-05-29     |2016-05-29     |
|2017-10-31|2017-12-31 11:59:59.123|68.0               |66.0               |2018-01-31     |2018-03-31     |
|2019-11-30|2019-08-31 00:00:00.000|43.0               |46.0               |2020-02-29     |2019-11-30     |
+----------+-----------------------+-------------------+-------------------+---------------+---------------+

## Using Date and Time Trunc Functions

In [474]:
# In Data Warehousing we quite often run to date reports such as week to date, month to date, year to date etc. Let us understand how we can take care of such requirements using appropriate functions over Spark Data Frames.

# We can use trunc or date_trunc for the same to get the beginning date of the week, month, current year etc by passing date or timestamp to it.

# We can use trunc to get beginning date of the month or year by passing date or timestamp to it - for example trunc(current_date(), "MM") will give the first of the current month.

# We can use date_trunc to get beginning date of the month or year as well as beginning time of the day or hour by passing timestamp to it.

                # Get beginning date based on month - date_trunc("MM", current_timestamp())

                # Get beginning time based on day - date_trunc("DAY", current_timestamp())

In [476]:
help(trunc)

Help on function trunc in module pyspark.sql.functions:

trunc(date, format)
    Returns date truncated to the unit specified by the format.

    .. versionadded:: 1.5.0

    Parameters
    ----------
    date : :class:`~pyspark.sql.Column` or str
    format : str
        'year', 'yyyy', 'yy' to truncate by year,
        or 'month', 'mon', 'mm' to truncate by month
        Other options are: 'week', 'quarter'

    Examples
    --------
    >>> df = spark.createDataFrame([('1997-02-28',)], ['d'])
    >>> df.select(trunc(df.d, 'year').alias('year')).collect()
    [Row(year=datetime.date(1997, 1, 1))]
    >>> df.select(trunc(df.d, 'mon').alias('month')).collect()
    [Row(month=datetime.date(1997, 2, 1))]

In [475]:
from pyspark.sql.functions import trunc, date_trunc

In [480]:

datetimes = [("2014-02-28", "2014-02-28 10:00:00.123"),
                     ("2016-02-29", "2016-02-29 08:08:08.999"),
                     ("2017-10-31", "2017-12-31 11:59:59.123"),
                     ("2019-11-30", "2019-08-31 00:00:00.000")
                ]

datetimesDF = spark.createDataFrame(datetimes, schema="date STRING, time STRING")

datetimesDF.show(truncate=False)

# ---- trunc with date column - give first day of that specified (month,year,week...)
# ---- trunc with time column - give first day of that specified (month,year,week...)

# Trunc with both time and date gives first day of that specified.

# trunc with date on week - gives first day of that week

datetimesDF. \
    withColumn("date_trunc", trunc("date", "MM")). \
    withColumn("date_week_trunc", trunc("date", "week")). \
    withColumn("time_trunc", trunc("time", "yy")). \
    withColumn("time_week_trunc", trunc("time", "week")). \
    show(truncate=False)

+----------+-----------------------+
|date      |time                   |
+----------+-----------------------+
|2014-02-28|2014-02-28 10:00:00.123|
|2016-02-29|2016-02-29 08:08:08.999|
|2017-10-31|2017-12-31 11:59:59.123|
|2019-11-30|2019-08-31 00:00:00.000|
+----------+-----------------------+

+----------+-----------------------+----------+---------------+----------+---------------+
|date      |time                   |date_trunc|date_week_trunc|time_trunc|time_week_trunc|
+----------+-----------------------+----------+---------------+----------+---------------+
|2014-02-28|2014-02-28 10:00:00.123|2014-02-01|2014-02-24     |2014-01-01|2014-02-24     |
|2016-02-29|2016-02-29 08:08:08.999|2016-02-01|2016-02-29     |2016-01-01|2016-02-29     |
|2017-10-31|2017-12-31 11:59:59.123|2017-10-01|2017-10-30     |2017-01-01|2017-12-25     |
|2019-11-30|2019-08-31 00:00:00.000|2019-11-01|2019-11-25     |2019-01-01|2019-08-26     |
+----------+-----------------------+----------+---------------+----------+---------------+

In [482]:
## date_trunc

# the syntax is specified type and column


datetimesDF. \
    withColumn("date_dt", date_trunc("HOUR", "date")). \
    withColumn("time_dt", date_trunc("HOUR", "time")). \
    withColumn("time_dt1", date_trunc("dd", "time")). \
    show(truncate=False)


# date_trunc with hour on date - give first hour of that date
# date_trunc with hour on time - give first hour of that time

+----------+-----------------------+-------------------+-------------------+-------------------+
|date      |time                   |date_dt            |time_dt            |time_dt1           |
+----------+-----------------------+-------------------+-------------------+-------------------+
|2014-02-28|2014-02-28 10:00:00.123|2014-02-28 00:00:00|2014-02-28 10:00:00|2014-02-28 00:00:00|
|2016-02-29|2016-02-29 08:08:08.999|2016-02-29 00:00:00|2016-02-29 08:00:00|2016-02-29 00:00:00|
|2017-10-31|2017-12-31 11:59:59.123|2017-10-31 00:00:00|2017-12-31 11:00:00|2017-12-31 00:00:00|
|2019-11-30|2019-08-31 00:00:00.000|2019-11-30 00:00:00|2019-08-31 00:00:00|2019-08-31 00:00:00|
+----------+-----------------------+-------------------+-------------------+-------------------+

## Date and Time Extract Functions

In [497]:
# Here are the extract functions that are useful which are self explanatory.

        # year
        # month
        # weekofyear
        # dayofyear
        # dayofmonth
        # dayofweek
        # hour
        # minute
        # second

        
l = [ ("m",)]

df = spark.createDataFrame(l).toDF("dummy")


from pyspark.sql.functions import year,weekofyear,dayofmonth,dayofyear,dayofweek,current_date,month,hour,minute,second

In [487]:
help(current_date) # - returns a column

Help on function current_date in module pyspark.sql.functions:

current_date()
    Returns the current date at the start of query evaluation as a :class:`DateType` column.
    All calls of current_date within the same query return the same value.

    .. versionadded:: 1.5

In [510]:
help(year)

Help on function year in module pyspark.sql.functions:

year(col)
    Extract the year of a given date as integer.

    .. versionadded:: 1.5.0

    Examples
    --------
    >>> df = spark.createDataFrame([('2015-04-08',)], ['dt'])
    >>> df.select(year('dt').alias('year')).collect()
    [Row(year=2015)]

In [501]:
df.select(
    current_timestamp().alias('current_timestamp'), 
    year(current_timestamp()).alias('year'),
    month(current_timestamp()).alias('month'),
    dayofmonth(current_timestamp()).alias('dayofmonth'),
    hour(current_timestamp()).alias('hour'),
    minute(current_timestamp()).alias('minute'),
    second(current_timestamp()).alias('second'),
    dayofweek(current_timestamp()).alias('dayofweek'),
    dayofyear(current_timestamp()).alias('dayofyear'),
).show(truncate=False) #yyyy-MM-dd HH:mm:ss.SSS

+--------------------------+----+-----+----------+----+------+------+---------+---------+
|current_timestamp         |year|month|dayofmonth|hour|minute|second|dayofweek|dayofyear|
+--------------------------+----+-----+----------+----+------+------+---------+---------+
|2023-06-30 18:21:39.886247|2023|6    |30        |18  |21    |39    |6        |181      |
+--------------------------+----+-----+----------+----+------+------+---------+---------+

## Using to_date and to_timestamp

In [502]:
# how to convert non standard dates and timestamps to standard dates and timestamps.

# yyyy-MM-dd is the standard date format

# yyyy-MM-dd HH:mm:ss.SSS is the standard timestamp format

# Most of the date manipulation functions expect date and time using standard format.
#           However, we might not have data in the expected standard format.


# In those scenarios we can use 
#                to_date and to_timestamp to convert non standard dates and timestamps to standard ones 
# respectively.

In [503]:
help(to_date)

Help on function to_date in module pyspark.sql.functions:

to_date(col, format=None)
    Converts a :class:`~pyspark.sql.Column` into :class:`pyspark.sql.types.DateType`
    using the optionally specified format. Specify formats according to `datetime pattern`_.
    By default, it follows casting rules to :class:`pyspark.sql.types.DateType` if the format
    is omitted. Equivalent to ``col.cast("date")``.

    .. _datetime pattern: https://spark.apache.org/docs/latest/sql-ref-datetime-pattern.html

    .. versionadded:: 2.2.0

    Examples
    --------
    >>> df = spark.createDataFrame([('1997-02-28 10:30:00',)], ['t'])
    >>> df.select(to_date(df.t).alias('date')).collect()
    [Row(date=datetime.date(1997, 2, 28))]

    >>> df = spark.createDataFrame([('1997-02-28 10:30:00',)], ['t'])
    >>> df.select(to_date(df.t, 'yyyy-MM-dd HH:mm:ss').alias('date')).collect()
    [Row(date=datetime.date(1997, 2, 28))]

In [534]:

datetimes = [(20140228, "28-Feb-2014 10:00:00.123"),
                     (20160229, "20-Feb-2016 08:08:08.999"),
                     (20171031, "31-Dec-2017 11:59:59.123"),
                     (20191130, "31-Aug-2019 00:00:00.000")
                ]

datetimesDF = spark.createDataFrame(datetimes, schema="date BIGINT, time STRING")

datetimesDF.show(truncate=False)

from pyspark.sql.functions import lit, to_date, to_timestamp

# to_date and to_timestamp -  takes only date,string,timestamp not long,int,float

datetimesDF.\
    withColumn("to_date", to_date(col('date').cast('string'), 'yyyyMMMdd')).\
    withColumn("to_timestamp", to_timestamp(col("time"),"yyyy-MM-dd HH:mm:ss.SSS")).show(truncate=False)

+--------+------------------------+
|date    |time                    |
+--------+------------------------+
|20140228|28-Feb-2014 10:00:00.123|
|20160229|20-Feb-2016 08:08:08.999|
|20171031|31-Dec-2017 11:59:59.123|
|20191130|31-Aug-2019 00:00:00.000|
+--------+------------------------+

+--------+------------------------+-------+------------+
|date    |time                    |to_date|to_timestamp|
+--------+------------------------+-------+------------+
|20140228|28-Feb-2014 10:00:00.123|null   |null        |
|20160229|20-Feb-2016 08:08:08.999|null   |null        |
|20171031|31-Dec-2017 11:59:59.123|null   |null        |
|20191130|31-Aug-2019 00:00:00.000|null   |null        |
+--------+------------------------+-------+------------+

In [535]:
datetimesDF. \
    withColumn('to_date', to_date(col('date').cast('string'), 'yyyyMMdd')). \
    withColumn('to_timestamp', to_timestamp(col('time'), 'dd-MMM-yyyy HH:mm:ss.SSS')). \
    show(truncate=False)

+--------+------------------------+----------+-----------------------+
|date    |time                    |to_date   |to_timestamp           |
+--------+------------------------+----------+-----------------------+
|20140228|28-Feb-2014 10:00:00.123|2014-02-28|2014-02-28 10:00:00.123|
|20160229|20-Feb-2016 08:08:08.999|2016-02-29|2016-02-20 08:08:08.999|
|20171031|31-Dec-2017 11:59:59.123|2017-10-31|2017-12-31 11:59:59.123|
|20191130|31-Aug-2019 00:00:00.000|2019-11-30|2019-08-31 00:00:00    |
+--------+------------------------+----------+-----------------------+

## Examples

In [549]:
# convert non standard dates and timestamps to standard dates and timestamps.


datetimesDF.\
    select(to_date(lit('02-03-2021'), 'dd-MM-yyyy').alias('to_date')).show()

datetimesDF.\
    select(to_date(lit('02-Mar-2021'), 'dd/MMM/yyyy').alias('to_date')).show()


datetimesDF.select(to_date(lit('20210601'), 'yyyyddMM').alias('to_date')).show()

# 2021 is year and 061 is day of the year in julian calendar

datetimesDF.select(to_date(lit('2021061'), 'yyyyDDD').alias('to_date')).show()


# if u have 3 OR Less char month - use MMM or MM, M
# if u have full chars of the month - use MMMM ( 4 Ms)

df.select(to_date(lit('02-Mar-2021'), 'dd-MMM-yyyy').alias('to_date')).show()

df.select(to_date(lit('02-March-2021'), 'dd-MMMM-yyyy').alias('to_date')).show()

# timestamp

df.select(to_timestamp(lit('02-Mar-2021 17:30:15'), 'dd-MMM-yyyy HH:mm:ss').alias('to_date')).show()

+----------+
|   to_date|
+----------+
|2021-03-02|
|2021-03-02|
|2021-03-02|
|2021-03-02|
+----------+

+-------+
|to_date|
+-------+
|   null|
|   null|
|   null|
|   null|
+-------+

+----------+
|   to_date|
+----------+
|2021-01-06|
|2021-01-06|
|2021-01-06|
|2021-01-06|
+----------+

+----------+
|   to_date|
+----------+
|2021-03-02|
|2021-03-02|
|2021-03-02|
|2021-03-02|
+----------+

+----------+
|   to_date|
+----------+
|2021-03-02|
+----------+

+----------+
|   to_date|
+----------+
|2021-03-02|
+----------+

+-------------------+
|            to_date|
+-------------------+
|2021-03-02 17:30:15|
+-------------------+


## Using date_format Function

In [551]:
from pyspark.sql.functions import date_format

In [550]:
# how to extract information from dates or times using date_format function.

# We can use date_format to extract the required information in a desired format from standard date or timestamp. 
#                    Earlier we have explored to_date and to_timestamp to convert non standard date or timestamp to standard ones respectively.


# There are also specific functions to extract year, month, day with in a week, a day with in a month, day with in a year etc. 
#                     These are covered as part of earlier topics in this section or module.


# yyyy
# MM
# dd
# DD
# HH
# hh
# mm
# ss
# SSS

In [556]:
datetimes = [("2014-02-28", "2014-02-28 10:00:00.123"),
                     ("2016-02-29", "2016-02-29 08:08:08.999"),
                     ("2017-10-31", "2017-12-31 11:59:59.123"),
                     ("2019-11-30", "2019-08-31 00:00:00.000")
                ]

datetimesDF = spark.createDataFrame(datetimes, schema="date STRING, time STRING")


datetimesDF. \
    withColumn("date_ym", date_format("date", "yyyyMM")). \
    withColumn("time_ym", date_format("time", "yyyyMM")). \
    show(truncate=False)

print("***"*30)

datetimesDF. \
    withColumn("date_ym", date_format("date", "yyyyMM")). \
    withColumn("time_ym", date_format("time", "yyyyMM")). \
    printSchema()

datetimesDF. \
    withColumn("date_ym", date_format("date", "yyyyMM").cast('int')). \
    withColumn("time_ym", date_format("time", "yyyyMM").cast('int')). \
    printSchema()

print("***"*30)

datetimesDF. \
    withColumn("date_dt", date_format("date", "yyyyMMddHHmmss")). \
    withColumn("date_ts", date_format("time", "yyyyMMddHHmmss")). \
    show(truncate=False)

+----------+-----------------------+-------+-------+
|date      |time                   |date_ym|time_ym|
+----------+-----------------------+-------+-------+
|2014-02-28|2014-02-28 10:00:00.123|201402 |201402 |
|2016-02-29|2016-02-29 08:08:08.999|201602 |201602 |
|2017-10-31|2017-12-31 11:59:59.123|201710 |201712 |
|2019-11-30|2019-08-31 00:00:00.000|201911 |201908 |
+----------+-----------------------+-------+-------+

******************************************************************************************
root
 |-- date: string (nullable = true)
 |-- time: string (nullable = true)
 |-- date_ym: string (nullable = true)
 |-- time_ym: string (nullable = true)

root
 |-- date: string (nullable = true)
 |-- time: string (nullable = true)
 |-- date_ym: integer (nullable = true)
 |-- time_ym: integer (nullable = true)

******************************************************************************************
+----------+-----------------------+--------------+--------------+
|date      |time                   |date_dt       |date_ts       |
+----------+-----------------------+--------------+--------------+
|2014-02-28|2014-02-28 10:00:00.123|20140228000000|20140228100000|
|2016-02-29|2016-02-29 08:08:08.999|20160229000000|20160229080808|
|2017-10-31|2017-12-31 11:59:59.123|20171031000000|20171231115959|
|2019-11-30|2019-08-31 00:00:00.000|20191130000000|20190831000000|
+----------+-----------------------+--------------+--------------+

In [562]:
# Get year and day of year using yyyyDDD format.

# yyyyDDD - Get year and day of year in 3 digits
# yyyyDD - Get year and day of year in 2 digits

datetimesDF. \
    withColumn("date_yd", date_format("date", "yyyyDDD").cast('int')). \
    withColumn("time_yd", date_format("time", "yyyyDDD").cast('int')). \
    show(truncate=False)

+----------+-----------------------+-------+-------+
|date      |time                   |date_yd|time_yd|
+----------+-----------------------+-------+-------+
|2014-02-28|2014-02-28 10:00:00.123|2014059|2014059|
|2016-02-29|2016-02-29 08:08:08.999|2016060|2016060|
|2017-10-31|2017-12-31 11:59:59.123|2017304|2017365|
|2019-11-30|2019-08-31 00:00:00.000|2019334|2019243|
+----------+-----------------------+-------+-------+

In [558]:
# Get complete description of the date.
datetimesDF. \
    withColumn("date_desc", date_format("date", "MMMM d, yyyy")). \
    show(truncate=False)

+----------+-----------------------+-----------------+
|date      |time                   |date_desc        |
+----------+-----------------------+-----------------+
|2014-02-28|2014-02-28 10:00:00.123|February 28, 2014|
|2016-02-29|2016-02-29 08:08:08.999|February 29, 2016|
|2017-10-31|2017-12-31 11:59:59.123|October 31, 2017 |
|2019-11-30|2019-08-31 00:00:00.000|November 30, 2019|
+----------+-----------------------+-----------------+

In [563]:
datetimesDF. \
    withColumn("day_name_full", date_format("date", "EEEE")). \
    show(truncate=False)

+----------+-----------------------+-------------+
|date      |time                   |day_name_full|
+----------+-----------------------+-------------+
|2014-02-28|2014-02-28 10:00:00.123|Friday       |
|2016-02-29|2016-02-29 08:08:08.999|Monday       |
|2017-10-31|2017-12-31 11:59:59.123|Tuesday      |
|2019-11-30|2019-08-31 00:00:00.000|Saturday     |
+----------+-----------------------+-------------+

23/07/01 00:06:55 WARN HeartbeatReceiver: Removing executor driver with no recent heartbeats: 935129 ms exceeds timeout 120000 ms
23/07/01 00:06:55 WARN SparkContext: Killing executors is not supported by current scheduler.

## Dealing with Unix Timestamp

In [568]:
# Let us understand how to deal with Unix Timestamp in Spark.



# It is an integer and started from January 1st 1970 Midnight UTC.
# Beginning time is also known as epoch and is incremented by 1 every second.






# We can convert Unix Timestamp to regular date or timestamp and vice versa.

# We can use unix_timestamp to convert regular date or timestamp to a unix timestamp value. 
#                For example unix_timestamp(lit("2019-11-19 00:00:00"))

# We can use from_unixtime to convert unix timestamp to regular date or timestamp.
#                For example from_unixtime(lit(1574101800))

# We can also pass format to both the functions.

In [565]:
datetimes = [(20140228, "2014-02-28", "2014-02-28 10:00:00"),
                     (20160229, "2016-02-29", "2016-02-29 08:08:08"),
                     (20171031, "2017-10-31", "2017-12-31 11:59:59"),
                     (20191130, "2019-11-30", "2019-08-31 00:00:00")
                ]
datetimesDF = spark.createDataFrame(datetimes).toDF("dateid", "date", "time")


from pyspark.sql.functions import unix_timestamp, col
datetimesDF. \
    withColumn("unix_date_id", unix_timestamp(col("dateid").cast("string"), "yyyyMMdd")). \
    withColumn("unix_date", unix_timestamp("date", "yyyy-MM-dd")). \
    withColumn("unix_time", unix_timestamp("time")). \
    show()

+--------+----------+-------------------+------------+----------+----------+
|  dateid|      date|               time|unix_date_id| unix_date| unix_time|
+--------+----------+-------------------+------------+----------+----------+
|20140228|2014-02-28|2014-02-28 10:00:00|  1393525800|1393525800|1393561800|
|20160229|2016-02-29|2016-02-29 08:08:08|  1456684200|1456684200|1456713488|
|20171031|2017-10-31|2017-12-31 11:59:59|  1509388200|1509388200|1514701799|
|20191130|2019-11-30|2019-08-31 00:00:00|  1575052200|1575052200|1567189800|
+--------+----------+-------------------+------------+----------+----------+

In [567]:
## Create a Dataframe by name unixtimesDF with one column unixtime using 4 values.
#            You can use the unix timestamp generated for time column in previous task.



unixtimes = [(1393561800, ),
             (1456713488, ),
             (1514701799, ),
             (1567189800, )
            ]
unixtimesDF = spark.createDataFrame(unixtimes).toDF("unixtime")
unixtimesDF.show()


unixtimesDF.printSchema()


# Get date in yyyyMMdd format and also complete timestamp.


from pyspark.sql.functions import from_unixtime


unixtimesDF. \
    withColumn("date", from_unixtime("unixtime", "yyyyMMdd")). \
    withColumn("time", from_unixtime("unixtime")). \
    show()

+----------+
|  unixtime|
+----------+
|1393561800|
|1456713488|
|1514701799|
|1567189800|
+----------+

root
 |-- unixtime: long (nullable = true)

+----------+--------+-------------------+
|  unixtime|    date|               time|
+----------+--------+-------------------+
|1393561800|20140228|2014-02-28 10:00:00|
|1456713488|20160229|2016-02-29 08:08:08|
|1514701799|20171231|2017-12-31 11:59:59|
|1567189800|20190831|2019-08-31 00:00:00|
+----------+--------+-------------------+

In [569]:
help(from_unixtime)

Help on function from_unixtime in module pyspark.sql.functions:

from_unixtime(timestamp, format='yyyy-MM-dd HH:mm:ss')
    Converts the number of seconds from unix epoch (1970-01-01 00:00:00 UTC) to a string
    representing the timestamp of that moment in the current system time zone in the given
    format.

    .. versionadded:: 1.5.0

    Examples
    --------
    >>> spark.conf.set("spark.sql.session.timeZone", "America/Los_Angeles")
    >>> time_df = spark.createDataFrame([(1428476400,)], ['unix_time'])
    >>> time_df.select(from_unixtime('unix_time').alias('ts')).collect()
    [Row(ts='2015-04-08 00:00:00')]
    >>> spark.conf.unset("spark.sql.session.timeZone")

In [570]:
help(col("unixtime").cast)

Help on method cast in module pyspark.sql.column:

cast(dataType) method of pyspark.sql.column.Column instance
    Casts the column into type ``dataType``.

    .. versionadded:: 1.3.0

    Examples
    --------
    >>> df.select(df.age.cast("string").alias('ages')).collect()
    [Row(ages='2'), Row(ages='5')]
    >>> df.select(df.age.cast(StringType()).alias('ages')).collect()
    [Row(ages='2'), Row(ages='5')]

In [578]:
unixtimesDF.select(from_unixtime(col("unixtime"))).show()

# the below doesnt work

unixtimesDF.select(col("unixtime").cast("date")).show()

+--------------------------------------------+
|from_unixtime(unixtime, yyyy-MM-dd HH:mm:ss)|
+--------------------------------------------+
|                         2014-02-28 10:00:00|
|                         2016-02-29 08:08:08|
|                         2017-12-31 11:59:59|
|                         2019-08-31 00:00:00|
+--------------------------------------------+

AnalysisException: cannot resolve 'CAST(unixtime AS DATE)' due to data type mismatch: cannot cast bigint to date;
'Project [unresolvedalias(cast(unixtime#7953L as date), None)]
+- Project [_1#7951L AS unixtime#7953L]
   +- LogicalRDD [_1#7951L], false

In [573]:
unixtimesDF.select(col("unixtime").cast("TIMESTAMP")).show()

# or
unixtimesDF.select(col("unixtime").cast("Timestamp")).show()

+-------------------+
|           unixtime|
+-------------------+
|2014-02-28 10:00:00|
|2016-02-29 08:08:08|
|2017-12-31 11:59:59|
|2019-08-31 00:00:00|
+-------------------+

+-------------------+
|           unixtime|
+-------------------+
|2014-02-28 10:00:00|
|2016-02-29 08:08:08|
|2017-12-31 11:59:59|
|2019-08-31 00:00:00|
+-------------------+

## Dealing with Nulls

In [580]:


# Let us understand how to deal with nulls using functions that are available in Spark.

        # We can use coalesce to return first non null value.
        # We also have traditional SQL style functions such as nvl. However, they can be used either with expr or selectExpr.