In [7]:
# Both sort and orderBy are synonymous . They both have sort function inside of it

In [1]:
from pyspark.sql import Row
     
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('SparkByExamples.com').getOrCreate()


import datetime
users = [
    {
        "id": 1,
        "first_name": "Corrie",
        "last_name": "Van den Oord",
        "email": "cvandenoord0@etsy.com",
        "phone_numbers": Row(mobile="+1 234 567 8901", home="+1 234 567 8911"),
        "courses": [1, 2],
        "is_customer": True,
        "amount_paid": 1000.55,
        "customer_from": datetime.date(2021, 1, 15),
        "last_updated_ts": datetime.datetime(2021, 2, 10, 1, 15, 0)
    },
    {
        "id": 2,
        "first_name": "Nikolaus",
        "last_name": "Brewitt",
        "email": "nbrewitt1@dailymail.co.uk",
        "phone_numbers":  Row(mobile="+1 234 567 8923", home="1 234 567 8934"),
        "courses": [3],
        "is_customer": True,
        "amount_paid": 900.0,
        "customer_from": datetime.date(2021, 2, 14),
        "last_updated_ts": datetime.datetime(2021, 2, 18, 3, 33, 0)
    },
    {
        "id": 3,
        "first_name": "Orelie",
        "last_name": "Penney",
        "email": "openney2@vistaprint.com",
        "phone_numbers": Row(mobile="+1 714 512 9752", home="+1 714 512 6601"),
        "courses": [2, 4],
        "is_customer": True,
        "amount_paid": 850.55,
        "customer_from": datetime.date(2021, 1, 21),
        "last_updated_ts": datetime.datetime(2021, 3, 15, 15, 16, 55)
    },
    {
        "id": 4,
        "first_name": "Ashby",
        "last_name": "Maddocks",
        "email": "amaddocks3@home.pl",
        "phone_numbers": Row(mobile=None, home=None),
        "courses": [],
        "is_customer": False,
        "amount_paid": None,
        "customer_from": None,
        "last_updated_ts": datetime.datetime(2021, 4, 10, 17, 45, 30)
    },
    {
        "id": 5,
        "first_name": "Kurt",
        "last_name": "Rome",
        "email": "krome4@shutterfly.com",
        "phone_numbers": Row(mobile="+1 817 934 7142", home=None),
        "courses": [],
        "is_customer": False,
        "amount_paid": None,
        "customer_from": None,
        "last_updated_ts": datetime.datetime(2021, 4, 2, 0, 55, 18)
    }
]
     

import pandas as pd
     

spark.conf.set('spark.sql.execution.arrow.pyspark.enabled', False)
     

users_df = spark.createDataFrame(pd.DataFrame(users))
     

users_df.show()

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/Users/manideep/miniconda3/lib/python3.9/site-packages/pyspark/jars/spark-unsafe_2.12-3.2.1.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/07/01 15:53:52 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/07/01 15:53:53 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
23/07/01 15:53:53 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.

+---+----------+------------+--------------------+--------------------+-------+-----------+-----------+-------------+-------------------+
| id|first_name|   last_name|               email|       phone_numbers|courses|is_customer|amount_paid|customer_from|    last_updated_ts|
+---+----------+------------+--------------------+--------------------+-------+-----------+-----------+-------------+-------------------+
|  1|    Corrie|Van den Oord|cvandenoord0@etsy...|{+1 234 567 8901,...| [1, 2]|       true|    1000.55|   2021-01-15|2021-02-10 01:15:00|
|  2|  Nikolaus|     Brewitt|nbrewitt1@dailyma...|{+1 234 567 8923,...|    [3]|       true|      900.0|   2021-02-14|2021-02-18 03:33:00|
|  3|    Orelie|      Penney|openney2@vistapri...|{+1 714 512 9752,...| [2, 4]|       true|     850.55|   2021-01-21|2021-03-15 15:16:55|
|  4|     Ashby|    Maddocks|  amaddocks3@home.pl|        {null, null}|     []|      false|        NaN|         null|2021-04-10 17:45:30|
|  5|      Kurt|        Rome|krome4@shutterfly...|{+1 817 934 7142,...|     []|      false|        NaN|         null|2021-04-02 00:55:18|
+---+----------+------------+--------------------+--------------------+-------+-----------+-----------+-------------+-------------------+

23/07/01 20:45:52 WARN HeartbeatReceiver: Removing executor driver with no recent heartbeats: 7177262 ms exceeds timeout 120000 ms
23/07/01 20:45:52 WARN SparkContext: Killing executors is not supported by current scheduler.

In [4]:
# The sorting scenarios which we should be familiar with.

        # Sort a data frame using ascending order by a specific column.

        # Sort a data frame using descending order by a specific column.

        # Dealing with nulls while sorting the data (having the null values at the beginning or at the end).

         # Sort a data frame using multiple columns (composite sorting). we get 4 variations of sorting as below
            
#                   We also need to be aware of how to sort the data in ascending order by first column and then descending order by second column as well as vice versa.

        # We also need to make sure how to perform prioritized sorting. For example, let's say we want to get USA at the top and rest of the countries in ascending order by their respective names.

In [5]:
help(users_df.sort)

Help on method sort in module pyspark.sql.dataframe:

sort(*cols, **kwargs) method of pyspark.sql.dataframe.DataFrame instance
    Returns a new :class:`DataFrame` sorted by the specified column(s).

    .. versionadded:: 1.3.0

    Parameters
    ----------
    cols : str, list, or :class:`Column`, optional
         list of :class:`Column` or column names to sort by.

    Other Parameters
    ----------------
    ascending : bool or list, optional
        boolean or list of boolean (default ``True``).
        Sort ascending vs. descending. Specify list for multiple sort orders.
        If a list is specified, length of the list must equal length of the `cols`.

    Examples
    --------
    >>> df.sort(df.age.desc()).collect()
    [Row(age=5, name='Bob'), Row(age=2, name='Alice')]
    >>> df.sort("age", ascending=False).collect()
    [Row(age=5, name='Bob'), Row(age=2, name='Alice')]
    >>> df.orderBy(df.age.desc()).collect()
    [Row(age=5, name='Bob'), Row(age=2, name='Alice')]
    >>> from pyspark.sql.functions import *
    >>> df.sort(asc("age")).collect()
    [Row(age=2, name='Alice'), Row(age=5, name='Bob')]
    >>> df.orderBy(desc("age"), "name").collect()
    [Row(age=5, name='Bob'), Row(age=2, name='Alice')]
    >>> df.orderBy(["age", "name"], ascending=[0, 1]).collect()
    [Row(age=5, name='Bob'), Row(age=2, name='Alice')]

In [6]:
help(users_df.orderBy)

Help on method sort in module pyspark.sql.dataframe:

sort(*cols, **kwargs) method of pyspark.sql.dataframe.DataFrame instance
    Returns a new :class:`DataFrame` sorted by the specified column(s).

    .. versionadded:: 1.3.0

    Parameters
    ----------
    cols : str, list, or :class:`Column`, optional
         list of :class:`Column` or column names to sort by.

    Other Parameters
    ----------------
    ascending : bool or list, optional
        boolean or list of boolean (default ``True``).
        Sort ascending vs. descending. Specify list for multiple sort orders.
        If a list is specified, length of the list must equal length of the `cols`.

    Examples
    --------
    >>> df.sort(df.age.desc()).collect()
    [Row(age=5, name='Bob'), Row(age=2, name='Alice')]
    >>> df.sort("age", ascending=False).collect()
    [Row(age=5, name='Bob'), Row(age=2, name='Alice')]
    >>> df.orderBy(df.age.desc()).collect()
    [Row(age=5, name='Bob'), Row(age=2, name='Alice')]
    >>> from pyspark.sql.functions import *
    >>> df.sort(asc("age")).collect()
    [Row(age=2, name='Alice'), Row(age=5, name='Bob')]
    >>> df.orderBy(desc("age"), "name").collect()
    [Row(age=5, name='Bob'), Row(age=2, name='Alice')]
    >>> df.orderBy(["age", "name"], ascending=[0, 1]).collect()
    [Row(age=5, name='Bob'), Row(age=2, name='Alice')]

In [8]:
users_df.id.desc() # -> gives a column object

## 0 -> descending, 1-> ascending

Column<'id DESC NULLS LAST'>

## Ascending Order

In [10]:


## Sort the users data in ascending order by first_name

In [17]:
users_df.select("id","first_name").sort("first_name",ascending = True).show()

# or - default value of ascending = True

# users_df.select("id","first_name").sort(users_df.first_name).show()

# or


# users_df.select("id","first_name").sort(users_df["first_name"]).show()

+---+----------+
| id|first_name|
+---+----------+
|  4|     Ashby|
|  1|    Corrie|
|  5|      Kurt|
|  2|  Nikolaus|
|  3|    Orelie|
+---+----------+

In [20]:
from pyspark.sql.functions import col

users_df.select("id","first_name").sort(col("first_name")).show()

+---+----------+
| id|first_name|
+---+----------+
|  4|     Ashby|
|  1|    Corrie|
|  5|      Kurt|
|  2|  Nikolaus|
|  3|    Orelie|
+---+----------+

In [44]:
# Sort the users data in ascending order by customer_from.

In [48]:
users_df.select("id","customer_from").sort(["customer_from"]).show()

users_df.select("id","customer_from").sort(col("customer_from").asc()).show()

+---+-------------+
| id|customer_from|
+---+-------------+
|  4|         null|
|  5|         null|
|  1|   2021-01-15|
|  3|   2021-01-21|
|  2|   2021-02-14|
+---+-------------+

+---+-------------+
| id|customer_from|
+---+-------------+
|  5|         null|
|  4|         null|
|  1|   2021-01-15|
|  3|   2021-01-21|
|  2|   2021-02-14|
+---+-------------+

In [47]:
# Sort the data in ascending order by number of enrolled courses.

In [25]:
users_df.printSchema()

root
 |-- id: long (nullable = true)
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- email: string (nullable = true)
 |-- phone_numbers: struct (nullable = true)
 |    |-- mobile: string (nullable = true)
 |    |-- home: string (nullable = true)
 |-- courses: array (nullable = true)
 |    |-- element: long (containsNull = true)
 |-- is_customer: boolean (nullable = true)
 |-- amount_paid: double (nullable = true)
 |-- customer_from: date (nullable = true)
 |-- last_updated_ts: timestamp (nullable = true)

In [45]:
from pyspark.sql.functions import length,lit


# Inorder to find length of array, have to use size

users_df.select("id","courses",lit(length(col("courses").cast("string"))).alias("total_courses")).sort("total_courses").show()

+---+-------+-------------+
| id|courses|total_courses|
+---+-------+-------------+
|  4|     []|            2|
|  5|     []|            2|
|  2|    [3]|            3|
|  1| [1, 2]|            6|
|  3| [2, 4]|            6|
+---+-------+-------------+

In [46]:
help(length)

# This is only for strings

# Inorder to find length of array, have to use size

Help on function length in module pyspark.sql.functions:

length(col)
    Computes the character length of string data or number of bytes of binary data.
    The length of character data includes the trailing spaces. The length of binary data
    includes binary zeros.

    .. versionadded:: 1.5.0

    Examples
    --------
    >>> spark.createDataFrame([('ABC ',)], ['a']).select(length('a').alias('length')).collect()
    [Row(length=4)]

In [39]:


# Inorder to find length of array, have to use size

from pyspark.sql.functions import size

users_df.select("id","courses",
                size("courses").alias("total_courses")).\
        sort("total_courses").show()

# or

# users_df. \
#     select('id', 'courses'). \
#     withColumn('no_of_courses', size('courses')). \
#     sort(size('courses')).show()

+---+-------+-------------+
| id|courses|total_courses|
+---+-------+-------------+
|  5|     []|            0|
|  4|     []|            0|
|  2|    [3]|            1|
|  3| [2, 4]|            2|
|  1| [1, 2]|            2|
+---+-------+-------------+

## Descending Order

In [40]:
## Sort the data in descending order by first_name

In [41]:
users_df.select("id","first_name").sort("first_name",ascending=False).show()

#  users_df.sort(users_df['first_name'], ascending=False).show()

+---+----------+
| id|first_name|
+---+----------+
|  3|    Orelie|
|  2|  Nikolaus|
|  5|      Kurt|
|  1|    Corrie|
|  4|     Ashby|
+---+----------+

In [43]:
users_df.select("id","first_name").\
        sort(users_df["first_name"].desc()).\
        show()

+---+----------+
| id|first_name|
+---+----------+
|  3|    Orelie|
|  2|  Nikolaus|
|  5|      Kurt|
|  1|    Corrie|
|  4|     Ashby|
+---+----------+

In [50]:
from pyspark.sql.functions import desc,asc

users_df.sort(desc('first_name')).show()

+---+----------+------------+--------------------+--------------------+-------+-----------+-----------+-------------+-------------------+
| id|first_name|   last_name|               email|       phone_numbers|courses|is_customer|amount_paid|customer_from|    last_updated_ts|
+---+----------+------------+--------------------+--------------------+-------+-----------+-----------+-------------+-------------------+
|  3|    Orelie|      Penney|openney2@vistapri...|{+1 714 512 9752,...| [2, 4]|       true|     850.55|   2021-01-21|2021-03-15 15:16:55|
|  2|  Nikolaus|     Brewitt|nbrewitt1@dailyma...|{+1 234 567 8923,...|    [3]|       true|      900.0|   2021-02-14|2021-02-18 03:33:00|
|  5|      Kurt|        Rome|krome4@shutterfly...|{+1 817 934 7142,...|     []|      false|        NaN|         null|2021-04-02 00:55:18|
|  1|    Corrie|Van den Oord|cvandenoord0@etsy...|{+1 234 567 8901,...| [1, 2]|       true|    1000.55|   2021-01-15|2021-02-10 01:15:00|
|  4|     Ashby|    Maddocks|  amaddocks3@home.pl|        {null, null}|     []|      false|        NaN|         null|2021-04-10 17:45:30|
+---+----------+------------+--------------------+--------------------+-------+-----------+-----------+-------------+-------------------+

In [51]:
## Sort the data in descending order by customer_from.

In [55]:
users_df.sort("customer_from",ascending=False).show()

# users_df.sort(users_df["customer_from"].desc()).show()

# users_df.sort(desc(users_df["customer_from"])).show()

+---+----------+------------+--------------------+--------------------+-------+-----------+-----------+-------------+-------------------+
| id|first_name|   last_name|               email|       phone_numbers|courses|is_customer|amount_paid|customer_from|    last_updated_ts|
+---+----------+------------+--------------------+--------------------+-------+-----------+-----------+-------------+-------------------+
|  2|  Nikolaus|     Brewitt|nbrewitt1@dailyma...|{+1 234 567 8923,...|    [3]|       true|      900.0|   2021-02-14|2021-02-18 03:33:00|
|  3|    Orelie|      Penney|openney2@vistapri...|{+1 714 512 9752,...| [2, 4]|       true|     850.55|   2021-01-21|2021-03-15 15:16:55|
|  1|    Corrie|Van den Oord|cvandenoord0@etsy...|{+1 234 567 8901,...| [1, 2]|       true|    1000.55|   2021-01-15|2021-02-10 01:15:00|
|  5|      Kurt|        Rome|krome4@shutterfly...|{+1 817 934 7142,...|     []|      false|        NaN|         null|2021-04-02 00:55:18|
|  4|     Ashby|    Maddocks|  amaddocks3@home.pl|        {null, null}|     []|      false|        NaN|         null|2021-04-10 17:45:30|
+---+----------+------------+--------------------+--------------------+-------+-----------+-----------+-------------+-------------------+

In [57]:
## Sort the data in descending order by number of enrolled courses.

In [61]:
users_df.select("id","courses").sort(size("courses"),ascending=False).show()


# users_df. \
#     select('id', 'courses'). \
#     withColumn('no_of_courses', size('courses')). \
#     sort(desc('no_of_courses')). \
#     show()

+---+-------+
| id|courses|
+---+-------+
|  1| [1, 2]|
|  3| [2, 4]|
|  2|    [3]|
|  5|     []|
|  4|     []|
+---+-------+

# Dealing with Nulls

In [62]:
# Sort the data in ascending order by customer_from (default).

In [63]:
cf = col("customer_from")

In [64]:
# cf. - click on tab to see various function available on column object

In [65]:
# we have asc_nulls_first, asc_nulls_last
# we have desc_nulls_first, desc_nulls_last

In [66]:
users_df.\
    select("id","customer_from").\
    orderBy("customer_from").show()

+---+-------------+
| id|customer_from|
+---+-------------+
|  4|         null|
|  5|         null|
|  1|   2021-01-15|
|  3|   2021-01-21|
|  2|   2021-02-14|
+---+-------------+

In [74]:
# Sort the data in ascending order by customer_from with null values coming at the end.

from pyspark.sql.functions import asc_nulls_last

users_df.select("id","customer_from").sort(asc_nulls_last("customer_from")).show()

users_df.select("id","customer_from").sort(col("customer_from").asc_nulls_last()).show()

+---+-------------+
| id|customer_from|
+---+-------------+
|  1|   2021-01-15|
|  3|   2021-01-21|
|  2|   2021-02-14|
|  4|         null|
|  5|         null|
+---+-------------+

+---+-------------+
| id|customer_from|
+---+-------------+
|  1|   2021-01-15|
|  3|   2021-01-21|
|  2|   2021-02-14|
|  5|         null|
|  4|         null|
+---+-------------+

In [75]:
# Sort the data in descending order by customer_from with null values coming at the beginning.

In [80]:

from pyspark.sql.functions import desc_nulls_first

users_df.\
    select("id","customer_from").\
    orderBy(col("customer_from").desc()).show()

users_df.\
    select("id","customer_from").\
    orderBy(desc_nulls_first("customer_from")).show()

+---+-------------+
| id|customer_from|
+---+-------------+
|  2|   2021-02-14|
|  3|   2021-01-21|
|  1|   2021-01-15|
|  4|         null|
|  5|         null|
+---+-------------+

+---+-------------+
| id|customer_from|
+---+-------------+
|  5|         null|
|  4|         null|
|  2|   2021-02-14|
|  3|   2021-01-21|
|  1|   2021-01-15|
+---+-------------+

## Compositer Sorting

In [81]:
courses = [{'course_id': 1,
  'course_name': '2020 Complete Python Bootcamp: From Zero to Hero in Python',
  'suitable_for': 'Beginner',
  'enrollment': 1100093,
  'stars': 4.6,
  'number_of_ratings': 318066},
 {'course_id': 4,
  'course_name': 'Angular - The Complete Guide (2020 Edition)',
  'suitable_for': 'Intermediate',
  'enrollment': 422557,
  'stars': 4.6,
  'number_of_ratings': 129984},
 {'course_id': 12,
  'course_name': 'Automate the Boring Stuff with Python Programming',
  'suitable_for': 'Advanced',
  'enrollment': 692617,
  'stars': 4.6,
  'number_of_ratings': 70508},
 {'course_id': 10,
  'course_name': 'Complete C# Unity Game Developer 2D',
  'suitable_for': 'Advanced',
  'enrollment': 364934,
  'stars': 4.6,
  'number_of_ratings': 78989},
 {'course_id': 5,
  'course_name': 'Java Programming Masterclass for Software Developers',
  'suitable_for': 'Advanced',
  'enrollment': 502572,
  'stars': 4.6,
  'number_of_ratings': 123798},
 {'course_id': 15,
  'course_name': 'Learn Python Programming Masterclass',
  'suitable_for': 'Advanced',
  'enrollment': 240790,
  'stars': 4.5,
  'number_of_ratings': 58677},
 {'course_id': 3,
  'course_name': 'Machine Learning A-Z™: Hands-On Python & R In Data Science',
  'suitable_for': 'Intermediate',
  'enrollment': 692812,
  'stars': 4.5,
  'number_of_ratings': 132228},
 {'course_id': 14,
  'course_name': 'Modern React with Redux [2020 Update]',
  'suitable_for': 'Intermediate',
  'enrollment': 203214,
  'stars': 4.7,
  'number_of_ratings': 60835},
 {'course_id': 8,
  'course_name': 'Python for Data Science and Machine Learning Bootcamp',
  'suitable_for': 'Intermediate',
  'enrollment': 387789,
  'stars': 4.6,
  'number_of_ratings': 87403},
 {'course_id': 6,
  'course_name': 'React - The Complete Guide (incl Hooks, React Router, Redux)',
  'suitable_for': 'Intermediate',
  'enrollment': 304670,
  'stars': 4.6,
  'number_of_ratings': 90964},
 {'course_id': 18,
  'course_name': 'Selenium WebDriver with Java -Basics to Advanced+Frameworks',
  'suitable_for': 'Advanced',
  'enrollment': 148562,
  'stars': 4.6,
  'number_of_ratings': 49947},
 {'course_id': 21,
  'course_name': 'Spring & Hibernate for Beginners (includes Spring Boot)',
  'suitable_for': 'Advanced',
  'enrollment': 177053,
  'stars': 4.6,
  'number_of_ratings': 45329},
 {'course_id': 7,
  'course_name': 'The Complete 2020 Web Development Bootcamp',
  'suitable_for': 'Beginner',
  'enrollment': 270656,
  'stars': 4.7,
  'number_of_ratings': 88098},
 {'course_id': 9,
  'course_name': 'The Complete JavaScript Course 2020: Build Real Projects!',
  'suitable_for': 'Intermediate',
  'enrollment': 347979,
  'stars': 4.6,
  'number_of_ratings': 83521},
 {'course_id': 16,
  'course_name': 'The Complete Node.js Developer Course (3rd Edition)',
  'suitable_for': 'Advanced',
  'enrollment': 202922,
  'stars': 4.7,
  'number_of_ratings': 50885},
 {'course_id': 13,
  'course_name': 'The Complete Web Developer Course 2.0',
  'suitable_for': 'Intermediate',
  'enrollment': 273598,
  'stars': 4.5,
  'number_of_ratings': 63175},
 {'course_id': 11,
  'course_name': 'The Data Science Course 2020: Complete Data Science Bootcamp',
  'suitable_for': 'Beginner',
  'enrollment': 325047,
  'stars': 4.5,
  'number_of_ratings': 76907},
 {'course_id': 20,
  'course_name': 'The Ultimate MySQL Bootcamp: Go from SQL Beginner to Expert',
  'suitable_for': 'Beginner',
  'enrollment': 203366,
  'stars': 4.6,
  'number_of_ratings': 45382},
 {'course_id': 2,
  'course_name': 'The Web Developer Bootcamp',
  'suitable_for': 'Beginner',
  'enrollment': 596726,
  'stars': 4.6,
  'number_of_ratings': 182997},
 {'course_id': 19,
  'course_name': 'Unreal Engine C++ Developer: Learn C++ and Make Video Games',
  'suitable_for': 'Advanced',
  'enrollment': 229005,
  'stars': 4.5,
  'number_of_ratings': 45860},
 {'course_id': 17,
  'course_name': 'iOS 13 & Swift 5 - The Complete iOS App Development Bootcamp',
  'suitable_for': 'Advanced',
  'enrollment': 179598,
  'stars': 4.8,
  'number_of_ratings': 49972}]
     

from pyspark.sql import Row
     

courses_df = spark.createDataFrame([Row(**course) for course in courses])
     

courses_df.show()

+---------+--------------------+------------+----------+-----+-----------------+
|course_id|         course_name|suitable_for|enrollment|stars|number_of_ratings|
+---------+--------------------+------------+----------+-----+-----------------+
|        1|2020 Complete Pyt...|    Beginner|   1100093|  4.6|           318066|
|        4|Angular - The Com...|Intermediate|    422557|  4.6|           129984|
|       12|Automate the Bori...|    Advanced|    692617|  4.6|            70508|
|       10|Complete C# Unity...|    Advanced|    364934|  4.6|            78989|
|        5|Java Programming ...|    Advanced|    502572|  4.6|           123798|
|       15|Learn Python Prog...|    Advanced|    240790|  4.5|            58677|
|        3|Machine Learning ...|Intermediate|    692812|  4.5|           132228|
|       14|Modern React with...|Intermediate|    203214|  4.7|            60835|
|        8|Python for Data S...|Intermediate|    387789|  4.6|            87403|
|        6|React - The Compl...|Intermediate|    304670|  4.6|            90964|
|       18|Selenium WebDrive...|    Advanced|    148562|  4.6|            49947|
|       21|Spring & Hibernat...|    Advanced|    177053|  4.6|            45329|
|        7|The Complete 2020...|    Beginner|    270656|  4.7|            88098|
|        9|The Complete Java...|Intermediate|    347979|  4.6|            83521|
|       16|The Complete Node...|    Advanced|    202922|  4.7|            50885|
|       13|The Complete Web ...|Intermediate|    273598|  4.5|            63175|
|       11|The Data Science ...|    Beginner|    325047|  4.5|            76907|
|       20|The Ultimate MySQ...|    Beginner|    203366|  4.6|            45382|
|        2|The Web Developer...|    Beginner|    596726|  4.6|           182997|
|       19|Unreal Engine C++...|    Advanced|    229005|  4.5|            45860|
+---------+--------------------+------------+----------+-----+-----------------+
only showing top 20 rows

In [82]:
[Row(**course) for course in courses]

[Row(course_id=1, course_name='2020 Complete Python Bootcamp: From Zero to Hero in Python', suitable_for='Beginner', enrollment=1100093, stars=4.6, number_of_ratings=318066),
 Row(course_id=4, course_name='Angular - The Complete Guide (2020 Edition)', suitable_for='Intermediate', enrollment=422557, stars=4.6, number_of_ratings=129984),
 Row(course_id=12, course_name='Automate the Boring Stuff with Python Programming', suitable_for='Advanced', enrollment=692617, stars=4.6, number_of_ratings=70508),
 Row(course_id=10, course_name='Complete C# Unity Game Developer 2D', suitable_for='Advanced', enrollment=364934, stars=4.6, number_of_ratings=78989),
 Row(course_id=5, course_name='Java Programming Masterclass for Software Developers', suitable_for='Advanced', enrollment=502572, stars=4.6, number_of_ratings=123798),
 Row(course_id=15, course_name='Learn Python Programming Masterclass', suitable_for='Advanced', enrollment=240790, stars=4.5, number_of_ratings=58677),
 Row(course_id=3, course_name='Machine Learning A-Z™: Hands-On Python & R In Data Science', suitable_for='Intermediate', enrollment=692812, stars=4.5, number_of_ratings=132228),
 Row(course_id=14, course_name='Modern React with Redux [2020 Update]', suitable_for='Intermediate', enrollment=203214, stars=4.7, number_of_ratings=60835),
 Row(course_id=8, course_name='Python for Data Science and Machine Learning Bootcamp', suitable_for='Intermediate', enrollment=387789, stars=4.6, number_of_ratings=87403),
 Row(course_id=6, course_name='React - The Complete Guide (incl Hooks, React Router, Redux)', suitable_for='Intermediate', enrollment=304670, stars=4.6, number_of_ratings=90964),
 Row(course_id=18, course_name='Selenium WebDriver with Java -Basics to Advanced+Frameworks', suitable_for='Advanced', enrollment=148562, stars=4.6, number_of_ratings=49947),
 Row(course_id=21, course_name='Spring & Hibernate for Beginners (includes Spring Boot)', suitable_for='Advanced', enrollment=177053, stars=4.6, number_of_ratings=45329),
 Row(course_id=7, course_name='The Complete 2020 Web Development Bootcamp', suitable_for='Beginner', enrollment=270656, stars=4.7, number_of_ratings=88098),
 Row(course_id=9, course_name='The Complete JavaScript Course 2020: Build Real Projects!', suitable_for='Intermediate', enrollment=347979, stars=4.6, number_of_ratings=83521),
 Row(course_id=16, course_name='The Complete Node.js Developer Course (3rd Edition)', suitable_for='Advanced', enrollment=202922, stars=4.7, number_of_ratings=50885),
 Row(course_id=13, course_name='The Complete Web Developer Course 2.0', suitable_for='Intermediate', enrollment=273598, stars=4.5, number_of_ratings=63175),
 Row(course_id=11, course_name='The Data Science Course 2020: Complete Data Science Bootcamp', suitable_for='Beginner', enrollment=325047, stars=4.5, number_of_ratings=76907),
 Row(course_id=20, course_name='The Ultimate MySQL Bootcamp: Go from SQL Beginner to Expert', suitable_for='Beginner', enrollment=203366, stars=4.6, number_of_ratings=45382),
 Row(course_id=2, course_name='The Web Developer Bootcamp', suitable_for='Beginner', enrollment=596726, stars=4.6, number_of_ratings=182997),
 Row(course_id=19, course_name='Unreal Engine C++ Developer: Learn C++ and Make Video Games', suitable_for='Advanced', enrollment=229005, stars=4.5, number_of_ratings=45860),
 Row(course_id=17, course_name='iOS 13 & Swift 5 - The Complete iOS App Development Bootcamp', suitable_for='Advanced', enrollment=179598, stars=4.8, number_of_ratings=49972)]

In [83]:
courses_df.printSchema()

root
 |-- course_id: long (nullable = true)
 |-- course_name: string (nullable = true)
 |-- suitable_for: string (nullable = true)
 |-- enrollment: long (nullable = true)
 |-- stars: double (nullable = true)
 |-- number_of_ratings: long (nullable = true)

In [110]:
def test(m=None,p=None):
    print(m)
    
d = {"1":"2","3":"4"}


test(**d)

TypeError: test() got an unexpected keyword argument '1'

In [114]:

# Ascending order for both the columns

courses_df. \
    sort(['suitable_for', 'enrollment']). \
    show()


# or


# courses_df. \
#     sort('suitable_for', 'enrollment'). \
#     show()

+---------+--------------------+------------+----------+-----+-----------------+
|course_id|         course_name|suitable_for|enrollment|stars|number_of_ratings|
+---------+--------------------+------------+----------+-----+-----------------+
|       18|Selenium WebDrive...|    Advanced|    148562|  4.6|            49947|
|       21|Spring & Hibernat...|    Advanced|    177053|  4.6|            45329|
|       17|iOS 13 & Swift 5 ...|    Advanced|    179598|  4.8|            49972|
|       16|The Complete Node...|    Advanced|    202922|  4.7|            50885|
|       19|Unreal Engine C++...|    Advanced|    229005|  4.5|            45860|
|       15|Learn Python Prog...|    Advanced|    240790|  4.5|            58677|
|       10|Complete C# Unity...|    Advanced|    364934|  4.6|            78989|
|        5|Java Programming ...|    Advanced|    502572|  4.6|           123798|
|       12|Automate the Bori...|    Advanced|    692617|  4.6|            70508|
|       20|The Ultimate MySQ...|    Beginner|    203366|  4.6|            45382|
|        7|The Complete 2020...|    Beginner|    270656|  4.7|            88098|
|       11|The Data Science ...|    Beginner|    325047|  4.5|            76907|
|        2|The Web Developer...|    Beginner|    596726|  4.6|           182997|
|        1|2020 Complete Pyt...|    Beginner|   1100093|  4.6|           318066|
|       14|Modern React with...|Intermediate|    203214|  4.7|            60835|
|       13|The Complete Web ...|Intermediate|    273598|  4.5|            63175|
|        6|React - The Compl...|Intermediate|    304670|  4.6|            90964|
|        9|The Complete Java...|Intermediate|    347979|  4.6|            83521|
|        8|Python for Data S...|Intermediate|    387789|  4.6|            87403|
|        4|Angular - The Com...|Intermediate|    422557|  4.6|           129984|
+---------+--------------------+------------+----------+-----+-----------------+
only showing top 20 rows

### Sort courses in ascending order by suitable_for and then in descending order by number_of_ratings

In [117]:
courses_df. \
    sort(courses_df['suitable_for'].asc(), courses_df['number_of_ratings'].desc()). \
    show()

from pyspark.sql.functions import desc,asc

courses_df. \
    sort(asc(courses_df['suitable_for']), desc(courses_df['number_of_ratings'])). \
    show()

+---------+--------------------+------------+----------+-----+-----------------+
|course_id|         course_name|suitable_for|enrollment|stars|number_of_ratings|
+---------+--------------------+------------+----------+-----+-----------------+
|        5|Java Programming ...|    Advanced|    502572|  4.6|           123798|
|       10|Complete C# Unity...|    Advanced|    364934|  4.6|            78989|
|       12|Automate the Bori...|    Advanced|    692617|  4.6|            70508|
|       15|Learn Python Prog...|    Advanced|    240790|  4.5|            58677|
|       16|The Complete Node...|    Advanced|    202922|  4.7|            50885|
|       17|iOS 13 & Swift 5 ...|    Advanced|    179598|  4.8|            49972|
|       18|Selenium WebDrive...|    Advanced|    148562|  4.6|            49947|
|       19|Unreal Engine C++...|    Advanced|    229005|  4.5|            45860|
|       21|Spring & Hibernat...|    Advanced|    177053|  4.6|            45329|
|        1|2020 Complete Pyt...|    Beginner|   1100093|  4.6|           318066|
|        2|The Web Developer...|    Beginner|    596726|  4.6|           182997|
|        7|The Complete 2020...|    Beginner|    270656|  4.7|            88098|
|       11|The Data Science ...|    Beginner|    325047|  4.5|            76907|
|       20|The Ultimate MySQ...|    Beginner|    203366|  4.6|            45382|
|        3|Machine Learning ...|Intermediate|    692812|  4.5|           132228|
|        4|Angular - The Com...|Intermediate|    422557|  4.6|           129984|
|        6|React - The Compl...|Intermediate|    304670|  4.6|            90964|
|        8|Python for Data S...|Intermediate|    387789|  4.6|            87403|
|        9|The Complete Java...|Intermediate|    347979|  4.6|            83521|
|       13|The Complete Web ...|Intermediate|    273598|  4.5|            63175|
+---------+--------------------+------------+----------+-----+-----------------+
only showing top 20 rows

+---------+--------------------+------------+----------+-----+-----------------+
|course_id|         course_name|suitable_for|enrollment|stars|number_of_ratings|
+---------+--------------------+------------+----------+-----+-----------------+
|        5|Java Programming ...|    Advanced|    502572|  4.6|           123798|
|       10|Complete C# Unity...|    Advanced|    364934|  4.6|            78989|
|       12|Automate the Bori...|    Advanced|    692617|  4.6|            70508|
|       15|Learn Python Prog...|    Advanced|    240790|  4.5|            58677|
|       16|The Complete Node...|    Advanced|    202922|  4.7|            50885|
|       17|iOS 13 & Swift 5 ...|    Advanced|    179598|  4.8|            49972|
|       18|Selenium WebDrive...|    Advanced|    148562|  4.6|            49947|
|       19|Unreal Engine C++...|    Advanced|    229005|  4.5|            45860|
|       21|Spring & Hibernat...|    Advanced|    177053|  4.6|            45329|
|        1|2020 Complete Pyt...|    Beginner|   1100093|  4.6|           318066|
|        2|The Web Developer...|    Beginner|    596726|  4.6|           182997|
|        7|The Complete 2020...|    Beginner|    270656|  4.7|            88098|
|       11|The Data Science ...|    Beginner|    325047|  4.5|            76907|
|       20|The Ultimate MySQ...|    Beginner|    203366|  4.6|            45382|
|        3|Machine Learning ...|Intermediate|    692812|  4.5|           132228|
|        4|Angular - The Com...|Intermediate|    422557|  4.6|           129984|
|        6|React - The Compl...|Intermediate|    304670|  4.6|            90964|
|        8|Python for Data S...|Intermediate|    387789|  4.6|            87403|
|        9|The Complete Java...|Intermediate|    347979|  4.6|            83521|
|       13|The Complete Web ...|Intermediate|    273598|  4.5|            63175|
+---------+--------------------+------------+----------+-----+-----------------+
only showing top 20 rows

In [121]:
courses_df. \
    sort('suitable_for', desc('number_of_ratings')). \
    show()

# or

# using list of columns

courses_df.\
    sort(["suitable_for","number_of_ratings"],ascending = [1,0]).show()

+---------+--------------------+------------+----------+-----+-----------------+
|course_id|         course_name|suitable_for|enrollment|stars|number_of_ratings|
+---------+--------------------+------------+----------+-----+-----------------+
|        5|Java Programming ...|    Advanced|    502572|  4.6|           123798|
|       10|Complete C# Unity...|    Advanced|    364934|  4.6|            78989|
|       12|Automate the Bori...|    Advanced|    692617|  4.6|            70508|
|       15|Learn Python Prog...|    Advanced|    240790|  4.5|            58677|
|       16|The Complete Node...|    Advanced|    202922|  4.7|            50885|
|       17|iOS 13 & Swift 5 ...|    Advanced|    179598|  4.8|            49972|
|       18|Selenium WebDrive...|    Advanced|    148562|  4.6|            49947|
|       19|Unreal Engine C++...|    Advanced|    229005|  4.5|            45860|
|       21|Spring & Hibernat...|    Advanced|    177053|  4.6|            45329|
|        1|2020 Complete Pyt...|    Beginner|   1100093|  4.6|           318066|
|        2|The Web Developer...|    Beginner|    596726|  4.6|           182997|
|        7|The Complete 2020...|    Beginner|    270656|  4.7|            88098|
|       11|The Data Science ...|    Beginner|    325047|  4.5|            76907|
|       20|The Ultimate MySQ...|    Beginner|    203366|  4.6|            45382|
|        3|Machine Learning ...|Intermediate|    692812|  4.5|           132228|
|        4|Angular - The Com...|Intermediate|    422557|  4.6|           129984|
|        6|React - The Compl...|Intermediate|    304670|  4.6|            90964|
|        8|Python for Data S...|Intermediate|    387789|  4.6|            87403|
|        9|The Complete Java...|Intermediate|    347979|  4.6|            83521|
|       13|The Complete Web ...|Intermediate|    273598|  4.5|            63175|
+---------+--------------------+------------+----------+-----+-----------------+
only showing top 20 rows

+---------+--------------------+------------+----------+-----+-----------------+
|course_id|         course_name|suitable_for|enrollment|stars|number_of_ratings|
+---------+--------------------+------------+----------+-----+-----------------+
|        5|Java Programming ...|    Advanced|    502572|  4.6|           123798|
|       10|Complete C# Unity...|    Advanced|    364934|  4.6|            78989|
|       12|Automate the Bori...|    Advanced|    692617|  4.6|            70508|
|       15|Learn Python Prog...|    Advanced|    240790|  4.5|            58677|
|       16|The Complete Node...|    Advanced|    202922|  4.7|            50885|
|       17|iOS 13 & Swift 5 ...|    Advanced|    179598|  4.8|            49972|
|       18|Selenium WebDrive...|    Advanced|    148562|  4.6|            49947|
|       19|Unreal Engine C++...|    Advanced|    229005|  4.5|            45860|
|       21|Spring & Hibernat...|    Advanced|    177053|  4.6|            45329|
|        1|2020 Complete Pyt...|    Beginner|   1100093|  4.6|           318066|
|        2|The Web Developer...|    Beginner|    596726|  4.6|           182997|
|        7|The Complete 2020...|    Beginner|    270656|  4.7|            88098|
|       11|The Data Science ...|    Beginner|    325047|  4.5|            76907|
|       20|The Ultimate MySQ...|    Beginner|    203366|  4.6|            45382|
|        3|Machine Learning ...|Intermediate|    692812|  4.5|           132228|
|        4|Angular - The Com...|Intermediate|    422557|  4.6|           129984|
|        6|React - The Compl...|Intermediate|    304670|  4.6|            90964|
|        8|Python for Data S...|Intermediate|    387789|  4.6|            87403|
|        9|The Complete Java...|Intermediate|    347979|  4.6|            83521|
|       13|The Complete Web ...|Intermediate|    273598|  4.5|            63175|
+---------+--------------------+------------+----------+-----+-----------------+
only showing top 20 rows

# Prioritised Sorting

In [2]:
from pyspark.sql.functions import col, when

In [3]:
help(when)

# when can be use in functions like select,agg,sum,min,orderBy

Help on function when in module pyspark.sql.functions:

when(condition, value)
    Evaluates a list of conditions and returns one of multiple possible result expressions.
    If :func:`pyspark.sql.Column.otherwise` is not invoked, None is returned for unmatched
    conditions.

    .. versionadded:: 1.4.0

    Parameters
    ----------
    condition : :class:`~pyspark.sql.Column`
        a boolean :class:`~pyspark.sql.Column` expression.
    value :
        a literal value, or a :class:`~pyspark.sql.Column` expression.

    >>> df.select(when(df['age'] == 2, 3).otherwise(4).alias("age")).collect()
    [Row(age=3), Row(age=4)]

    >>> df.select(when(df.age == 2, df.age + 1).alias("age")).collect()
    [Row(age=3), Row(age=None)]

In [128]:

# Use case

        # to get Beginner at top
        #.       Intermediate at midele
        #        Advanced at end

In [129]:
# with when, we can use otherwise .
# if when is rejected, otherwise is intiated

course_level = when(col('suitable_for') == 'Beginner', 0).otherwise(when(col('suitable_for') == 'Intermediate', 1).otherwise(2))
   
    
# or


from pyspark.sql.functions import expr

course_level = expr("""
    CASE 
        WHEN suitable_for = 'Beginner'
            THEN 0
        WHEN suitable_for = 'Intermediate'
            THEN 1
        ELSE 2
    END
""")

In [130]:
  
courses_df. \
    orderBy(course_level, col('number_of_ratings').desc()). \
    show()
     

# Using expr and then case and when

courses_df. \
    sort(course_level, col('number_of_ratings').desc()). \
    show()

+---------+--------------------+------------+----------+-----+-----------------+
|course_id|         course_name|suitable_for|enrollment|stars|number_of_ratings|
+---------+--------------------+------------+----------+-----+-----------------+
|        1|2020 Complete Pyt...|    Beginner|   1100093|  4.6|           318066|
|        2|The Web Developer...|    Beginner|    596726|  4.6|           182997|
|        7|The Complete 2020...|    Beginner|    270656|  4.7|            88098|
|       11|The Data Science ...|    Beginner|    325047|  4.5|            76907|
|       20|The Ultimate MySQ...|    Beginner|    203366|  4.6|            45382|
|        3|Machine Learning ...|Intermediate|    692812|  4.5|           132228|
|        4|Angular - The Com...|Intermediate|    422557|  4.6|           129984|
|        6|React - The Compl...|Intermediate|    304670|  4.6|            90964|
|        8|Python for Data S...|Intermediate|    387789|  4.6|            87403|
|        9|The Complete Java...|Intermediate|    347979|  4.6|            83521|
|       13|The Complete Web ...|Intermediate|    273598|  4.5|            63175|
|       14|Modern React with...|Intermediate|    203214|  4.7|            60835|
|        5|Java Programming ...|    Advanced|    502572|  4.6|           123798|
|       10|Complete C# Unity...|    Advanced|    364934|  4.6|            78989|
|       12|Automate the Bori...|    Advanced|    692617|  4.6|            70508|
|       15|Learn Python Prog...|    Advanced|    240790|  4.5|            58677|
|       16|The Complete Node...|    Advanced|    202922|  4.7|            50885|
|       17|iOS 13 & Swift 5 ...|    Advanced|    179598|  4.8|            49972|
|       18|Selenium WebDrive...|    Advanced|    148562|  4.6|            49947|
|       19|Unreal Engine C++...|    Advanced|    229005|  4.5|            45860|
+---------+--------------------+------------+----------+-----+-----------------+
only showing top 20 rows

+---------+--------------------+------------+----------+-----+-----------------+
|course_id|         course_name|suitable_for|enrollment|stars|number_of_ratings|
+---------+--------------------+------------+----------+-----+-----------------+
|        1|2020 Complete Pyt...|    Beginner|   1100093|  4.6|           318066|
|        2|The Web Developer...|    Beginner|    596726|  4.6|           182997|
|        7|The Complete 2020...|    Beginner|    270656|  4.7|            88098|
|       11|The Data Science ...|    Beginner|    325047|  4.5|            76907|
|       20|The Ultimate MySQ...|    Beginner|    203366|  4.6|            45382|
|        3|Machine Learning ...|Intermediate|    692812|  4.5|           132228|
|        4|Angular - The Com...|Intermediate|    422557|  4.6|           129984|
|        6|React - The Compl...|Intermediate|    304670|  4.6|            90964|
|        8|Python for Data S...|Intermediate|    387789|  4.6|            87403|
|        9|The Complete Java...|Intermediate|    347979|  4.6|            83521|
|       13|The Complete Web ...|Intermediate|    273598|  4.5|            63175|
|       14|Modern React with...|Intermediate|    203214|  4.7|            60835|
|        5|Java Programming ...|    Advanced|    502572|  4.6|           123798|
|       10|Complete C# Unity...|    Advanced|    364934|  4.6|            78989|
|       12|Automate the Bori...|    Advanced|    692617|  4.6|            70508|
|       15|Learn Python Prog...|    Advanced|    240790|  4.5|            58677|
|       16|The Complete Node...|    Advanced|    202922|  4.7|            50885|
|       17|iOS 13 & Swift 5 ...|    Advanced|    179598|  4.8|            49972|
|       18|Selenium WebDrive...|    Advanced|    148562|  4.6|            49947|
|       19|Unreal Engine C++...|    Advanced|    229005|  4.5|            45860|
+---------+--------------------+------------+----------+-----+-----------------+
only showing top 20 rows