In [1]:
from pyspark.sql import Row
     
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('SparkByExamples.com').getOrCreate()
    
import datetime

courses = [
    {
        'course_id': 1,
        'course_title': 'Mastering Python',
        'course_published_dt': datetime.date(2021, 1, 14),
        'is_active': True,
        'last_updated_ts': datetime.datetime(2021, 2, 18, 16, 57, 25)
    },
    {
        'course_id': 2,
        'course_title': 'Data Engineering Essentials',
        'course_published_dt': datetime.date(2021, 2, 10),
        'is_active': True,
        'last_updated_ts': datetime.datetime(2021, 3, 5, 12, 7, 33)
    },
    {
        'course_id': 3,
        'course_title': 'Mastering Pyspark',
        'course_published_dt': datetime.date(2021, 1, 7),
        'is_active': True,
        'last_updated_ts': datetime.datetime(2021, 4, 6, 10, 5, 42)
    },
    {
        'course_id': 4,
        'course_title': 'AWS Essentials',
        'course_published_dt': datetime.date(2021, 3, 19),
        'is_active': False,
        'last_updated_ts': datetime.datetime(2021, 4, 10, 2, 25, 36)
    },
    {
        'course_id': 5,
        'course_title': 'Docker 101',
        'course_published_dt': datetime.date(2021, 2, 28),
        'is_active': True,
        'last_updated_ts': datetime.datetime(2021, 3, 21, 7, 18, 52)
    }
]

courses_df = spark.createDataFrame([Row(**course) for course in courses])
     

users = [{
  "user_id": 1,
  "user_first_name": "Sandra",
  "user_last_name": "Karpov",
  "user_email": "skarpov0@ovh.net"
}, {
  "user_id": 2,
  "user_first_name": "Kari",
  "user_last_name": "Dearth",
  "user_email": "kdearth1@so-net.ne.jp"
}, {
  "user_id": 3,
  "user_first_name": "Joanna",
  "user_last_name": "Spennock",
  "user_email": "jspennock2@redcross.org"
}, {
  "user_id": 4,
  "user_first_name": "Hirsch",
  "user_last_name": "Conaboy",
  "user_email": "hconaboy3@barnesandnoble.com"
}, {
  "user_id": 5,
  "user_first_name": "Loreen",
  "user_last_name": "Malin",
  "user_email": "lmalin4@independent.co.uk"
}, {
  "user_id": 6,
  "user_first_name": "Augy",
  "user_last_name": "Christon",
  "user_email": "achriston5@mlb.com"
}, {
  "user_id": 7,
  "user_first_name": "Trudey",
  "user_last_name": "Choupin",
  "user_email": "tchoupin6@de.vu"
}, {
  "user_id": 8,
  "user_first_name": "Nadine",
  "user_last_name": "Grimsdell",
  "user_email": "ngrimsdell7@sohu.com"
}, {
  "user_id": 9,
  "user_first_name": "Vassily",
  "user_last_name": "Tamas",
  "user_email": "vtamas8@businessweek.com"
}, {
  "user_id": 10,
  "user_first_name": "Wells",
  "user_last_name": "Simpkins",
  "user_email": "wsimpkins9@amazon.co.uk"
}]

users_df = spark.createDataFrame([Row(**user) for user in users])
     

course_enrolments = [{
  "course_enrolment_id": 1,
  "user_id": 10,
  "course_id": 2,
  "price_paid": 9.99
}, {
  "course_enrolment_id": 2,
  "user_id": 5,
  "course_id": 2,
  "price_paid": 9.99
}, {
  "course_enrolment_id": 3,
  "user_id": 7,
  "course_id": 5,
  "price_paid": 10.99
}, {
  "course_enrolment_id": 4,
  "user_id": 9,
  "course_id": 2,
  "price_paid": 9.99
}, {
  "course_enrolment_id": 5,
  "user_id": 8,
  "course_id": 2,
  "price_paid": 9.99
}, {
  "course_enrolment_id": 6,
  "user_id": 5,
  "course_id": 5,
  "price_paid": 10.99
}, {
  "course_enrolment_id": 7,
  "user_id": 4,
  "course_id": 5,
  "price_paid": 10.99
}, {
  "course_enrolment_id": 8,
  "user_id": 7,
  "course_id": 3,
  "price_paid": 10.99
}, {
  "course_enrolment_id": 9,
  "user_id": 8,
  "course_id": 5,
  "price_paid": 10.99
}, {
  "course_enrolment_id": 10,
  "user_id": 3,
  "course_id": 3,
  "price_paid": 10.99
}, {
  "course_enrolment_id": 11,
  "user_id": 7,
  "course_id": 5,
  "price_paid": 10.99
}, {
  "course_enrolment_id": 12,
  "user_id": 3,
  "course_id": 2,
  "price_paid": 9.99
}, {
  "course_enrolment_id": 13,
  "user_id": 5,
  "course_id": 2,
  "price_paid": 9.99
}, {
  "course_enrolment_id": 14,
  "user_id": 4,
  "course_id": 3,
  "price_paid": 10.99
}, {
  "course_enrolment_id": 15,
  "user_id": 8,
  "course_id": 2,
  "price_paid": 9.99
}]

course_enrolments_df = spark.createDataFrame([Row(**ce) for ce in course_enrolments])

ModuleNotFoundError: No module named 'pyspark'

In [3]:
users_df.show(3)

courses_df.show(3)

course_enrolments_df.show(3)

+-------+---------------+--------------+--------------------+
|user_id|user_first_name|user_last_name|          user_email|
+-------+---------------+--------------+--------------------+
|      1|         Sandra|        Karpov|    skarpov0@ovh.net|
|      2|           Kari|        Dearth|kdearth1@so-net.n...|
|      3|         Joanna|      Spennock|jspennock2@redcro...|
+-------+---------------+--------------+--------------------+
only showing top 3 rows

+---------+--------------------+-------------------+---------+-------------------+
|course_id|        course_title|course_published_dt|is_active|    last_updated_ts|
+---------+--------------------+-------------------+---------+-------------------+
|        1|    Mastering Python|         2021-01-14|     true|2021-02-18 16:57:25|
|        2|Data Engineering ...|         2021-02-10|     true|2021-03-05 12:07:33|
|        3|   Mastering Pyspark|         2021-01-07|     true|2021-04-06 10:05:42|
+---------+--------------------+-------------------+---------+-------------------+
only showing top 3 rows

+-------------------+-------+---------+----------+
|course_enrolment_id|user_id|course_id|price_paid|
+-------------------+-------+---------+----------+
|                  1|     10|        2|      9.99|
|                  2|      5|        2|      9.99|
|                  3|      7|        5|     10.99|
+-------------------+-------+---------+----------+
only showing top 3 rows

# Overview of Joins

In [4]:
## Type of Joins

        # Inner Join - join or inner join
        # Left or Right Outer Join
        # Full Outer Join - a left outer join b union a right outer join b
        # Cross Join
        
# Spark Data Frames have a function called join. It can be used to perform inner or outer or full outer join.
# We need to specify join condition for Inner or Outer or Full Outer Join.

In [5]:
help(users_df.join)

Help on method join in module pyspark.sql.dataframe:

join(other, on=None, how=None) method of pyspark.sql.dataframe.DataFrame instance
    Joins with another :class:`DataFrame`, using the given join expression.

    .. versionadded:: 1.3.0

    Parameters
    ----------
    other : :class:`DataFrame`
        Right side of the join
    on : str, list or :class:`Column`, optional
        a string for the join column name, a list of column names,
        a join expression (Column), or a list of Columns.
        If `on` is a string or a list of strings indicating the name of the join column(s),
        the column(s) must exist on both sides, and this performs an equi-join.
    how : str, optional
        default ``inner``. Must be one of: ``inner``, ``cross``, ``outer``,
        ``full``, ``fullouter``, ``full_outer``, ``left``, ``leftouter``, ``left_outer``,
        ``right``, ``rightouter``, ``right_outer``, ``semi``, ``leftsemi``, ``left_semi``,
        ``anti``, ``leftanti`` and ``left_anti``.

    Examples
    --------
    The following performs a full outer join between ``df1`` and ``df2``.

    >>> from pyspark.sql.functions import desc
    >>> df.join(df2, df.name == df2.name, 'outer').select(df.name, df2.height)                 .sort(desc("name")).collect()
    [Row(name='Bob', height=85), Row(name='Alice', height=None), Row(name=None, height=80)]

    >>> df.join(df2, 'name', 'outer').select('name', 'height').sort(desc("name")).collect()
    [Row(name='Tom', height=80), Row(name='Bob', height=85), Row(name='Alice', height=None)]

    >>> cond = [df.name == df3.name, df.age == df3.age]
    >>> df.join(df3, cond, 'outer').select(df.name, df3.age).collect()
    [Row(name='Alice', age=2), Row(name='Bob', age=5)]

    >>> df.join(df2, 'name').select(df.name, df2.height).collect()
    [Row(name='Bob', height=85)]

    >>> df.join(df4, ['name', 'age']).select(df.name, df.age).collect()
    [Row(name='Bob', age=5)]

In [6]:
# The below on condition is df.name == df2.name, how is "outer"

df.join(df2, df.name == df2.name, 'outer').select(df.name, df2.height)                 

# The below on condition is "name" . This way can be applied only when "name" column is in both tables
    
>>> df.join(df2, 'name', 'outer').select('name', 'height').sort(desc("name")).collect()
  
# we can also have multple conditions in a single condiition
    
>>> cond = [df.name == df3.name, df.age == df3.age]
>>> df.join(df3, cond, 'outer').select(df.name, df3.age).collect()

# we ccan also pass a list of common columns as a join condition

>>> df.join(df4, ['name', 'age']).select(df.name, df.age).collect()

SyntaxError: invalid syntax (3813192222.py, line 7)

## Define aliases for Spark DataFrames

In [7]:
help(courses_df.alias)

Help on method alias in module pyspark.sql.dataframe:

alias(alias) method of pyspark.sql.dataframe.DataFrame instance
    Returns a new :class:`DataFrame` with an alias set.

    .. versionadded:: 1.3.0

    Parameters
    ----------
    alias : str
        an alias name to be set for the :class:`DataFrame`.

    Examples
    --------
    >>> from pyspark.sql.functions import *
    >>> df_as1 = df.alias("df_as1")
    >>> df_as2 = df.alias("df_as2")
    >>> joined_df = df_as1.join(df_as2, col("df_as1.name") == col("df_as2.name"), 'inner')
    >>> joined_df.select("df_as1.name", "df_as2.name", "df_as2.age")                 .sort(desc("df_as1.name")).collect()
    [Row(name='Bob', name='Bob', age=5), Row(name='Alice', name='Alice', age=2)]

In [9]:
>>> from pyspark.sql.functions import *
>>> df_as1 = df.alias("df_as1") # - returns a dataframe 

# the alias create a new dataframe with name "df_as1"

In [32]:
courses_df.alias("c").select(courses_df["course_id"]).show()

+---------+
|course_id|
+---------+
|        1|
|        2|
|        3|
|        4|
|        5|
+---------+

## Inner Join

In [14]:

# Get the user details who have enrolled for the courses.

# steps:

    # Need to join users_df and course_enrolments_df.
    # Here are the fields that needs to be displayed.
        # All fields from users_df
        # course_id and course_enrolment_id from course_enrolments

In [15]:
users_df.show(3)
course_enrolments_df.show(3)

+-------+---------------+--------------+--------------------+
|user_id|user_first_name|user_last_name|          user_email|
+-------+---------------+--------------+--------------------+
|      1|         Sandra|        Karpov|    skarpov0@ovh.net|
|      2|           Kari|        Dearth|kdearth1@so-net.n...|
|      3|         Joanna|      Spennock|jspennock2@redcro...|
+-------+---------------+--------------+--------------------+
only showing top 3 rows

+-------------------+-------+---------+----------+
|course_enrolment_id|user_id|course_id|price_paid|
+-------------------+-------+---------+----------+
|                  1|     10|        2|      9.99|
|                  2|      5|        2|      9.99|
|                  3|      7|        5|     10.99|
+-------------------+-------+---------+----------+
only showing top 3 rows

In [24]:
users_df.join(course_enrolments_df,"user_id","inner").show(3)

# in above, we get single user_id column as we assume it is common column with same meaning in both tables

# or

# 
users_df. \
    join(course_enrolments_df, users_df.user_id == course_enrolments_df.user_id,"inner"). \
    show(3)

# In above , we get two user_id columns

+-------+---------------+--------------+--------------------+-------------------+---------+----------+
|user_id|user_first_name|user_last_name|          user_email|course_enrolment_id|course_id|price_paid|
+-------+---------------+--------------+--------------------+-------------------+---------+----------+
|      3|         Joanna|      Spennock|jspennock2@redcro...|                 10|        3|     10.99|
|      3|         Joanna|      Spennock|jspennock2@redcro...|                 12|        2|      9.99|
|      4|         Hirsch|       Conaboy|hconaboy3@barnesa...|                  7|        5|     10.99|
+-------+---------------+--------------+--------------------+-------------------+---------+----------+
only showing top 3 rows

+-------+---------------+--------------+--------------------+-------------------+-------+---------+----------+
|user_id|user_first_name|user_last_name|          user_email|course_enrolment_id|user_id|course_id|price_paid|
+-------+---------------+--------------+--------------------+-------------------+-------+---------+----------+
|      3|         Joanna|      Spennock|jspennock2@redcro...|                 10|      3|        3|     10.99|
|      3|         Joanna|      Spennock|jspennock2@redcro...|                 12|      3|        2|      9.99|
|      4|         Hirsch|       Conaboy|hconaboy3@barnesa...|                  7|      4|        5|     10.99|
+-------+---------------+--------------+--------------------+-------------------+-------+---------+----------+
only showing top 3 rows

In [29]:
# Get all columns from users_df and course_id as well as course_enrolment_id from course_enrolments

users_df. \
    join(course_enrolments_df, users_df.user_id == course_enrolments_df.user_id). \
    select(users_df["user_id"], course_enrolments_df['course_id'], course_enrolments_df['course_enrolment_id']). \
    show(3)

# Get all columns from users_df and course_id as well as course_enrolment_id from course_enrolments
users_df.alias("u"). \
    join(course_enrolments_df, users_df.user_id == course_enrolments_df.user_id). \
    select('u.*', course_enrolments_df['course_id'], course_enrolments_df['course_enrolment_id']). \
    show(3)

+-------+---------+-------------------+
|user_id|course_id|course_enrolment_id|
+-------+---------+-------------------+
|      3|        3|                 10|
|      3|        2|                 12|
|      4|        5|                  7|
+-------+---------+-------------------+
only showing top 3 rows

+-------+---------------+--------------+--------------------+---------+-------------------+
|user_id|user_first_name|user_last_name|          user_email|course_id|course_enrolment_id|
+-------+---------------+--------------+--------------------+---------+-------------------+
|      3|         Joanna|      Spennock|jspennock2@redcro...|        3|                 10|
|      3|         Joanna|      Spennock|jspennock2@redcro...|        2|                 12|
|      4|         Hirsch|       Conaboy|hconaboy3@barnesa...|        5|                  7|
+-------+---------------+--------------+--------------------+---------+-------------------+
only showing top 3 rows

In [ ]:

# Get number of courses enroled by each user
# Fails as user_id is part of both the data frames

users_df.alias('u'). \
    join(course_enrolments_df.alias('ce'), users_df.user_id == course_enrolments_df.user_id). \
    groupBy('user_id'). \
    count(). \
    show()

# This returns error as Join dataframe has two user_id columns

In [34]:

# Succeeds as we are picking up user_id from users_df
users_df. \
    join(course_enrolments_df, users_df.user_id == course_enrolments_df.user_id). \
    groupBy(users_df['user_id']). \
    count(). \
    show(3)

# or 


users_df. \
    join(course_enrolments_df, 'user_id'). \
    groupBy('user_id'). \
    count(). \
    show(3)

+-------+-----+
|user_id|count|
+-------+-----+
|      3|    2|
|      4|    2|
|      5|    3|
+-------+-----+
only showing top 3 rows

+-------+-----+
|user_id|count|
+-------+-----+
|      3|    2|
|      4|    2|
|      5|    3|
+-------+-----+
only showing top 3 rows

## Outer Join using left

In [35]:
# Get all the user details along with course enrolment details (if the user have any course enrolments).

# If the users does not have any course enrolments, we need to get all user details. Course details will be substituted with null values.
    # Need to perform left or right outer join between users_df and course_enrolments_df.
    # We will use left for this lecture. As users_df is from parent table and as we are going to use left outer join, we need to invoke join on top of users_df.
    # Here are the fields that needs to be displayed.
        # All fields from users_df
        # course_id and course_enrolment_id from course_enrolments_df
        
# For this example using these data frames, using just outer also give same results. But it is not correct to use outer.
# how='outer' means full outer join.

In [40]:
users_df. \
    join(course_enrolments_df, users_df.user_id == course_enrolments_df.user_id, 'left').\
     select(users_df["*"],course_enrolments_df.course_enrolment_id, course_enrolments_df.course_id).   \
    show(4)

# For this example using these data frames, using just outer also give same results.
#       But it is not correct to use outer.

# how='outer' means full outer join.

+-------+---------------+--------------+--------------------+-------------------+---------+
|user_id|user_first_name|user_last_name|          user_email|course_enrolment_id|course_id|
+-------+---------------+--------------+--------------------+-------------------+---------+
|      1|         Sandra|        Karpov|    skarpov0@ovh.net|               null|     null|
|      2|           Kari|        Dearth|kdearth1@so-net.n...|               null|     null|
|      3|         Joanna|      Spennock|jspennock2@redcro...|                 10|        3|
|      3|         Joanna|      Spennock|jspennock2@redcro...|                 12|        2|
+-------+---------------+--------------+--------------------+-------------------+---------+
only showing top 4 rows

In [44]:
# left or left_outer or leftouter are same.

users_df. \
    join(course_enrolments_df, users_df.user_id == course_enrolments_df.user_id, 'left_outer'). \
    show(3)
   
# we get user_id two times

+-------+---------------+--------------+--------------------+-------------------+-------+---------+----------+
|user_id|user_first_name|user_last_name|          user_email|course_enrolment_id|user_id|course_id|price_paid|
+-------+---------------+--------------+--------------------+-------------------+-------+---------+----------+
|      1|         Sandra|        Karpov|    skarpov0@ovh.net|               null|   null|     null|      null|
|      2|           Kari|        Dearth|kdearth1@so-net.n...|               null|   null|     null|      null|
|      3|         Joanna|      Spennock|jspennock2@redcro...|                 10|      3|        3|     10.99|
+-------+---------------+--------------+--------------------+-------------------+-------+---------+----------+
only showing top 3 rows

In [79]:
users_df. \
    join(course_enrolments_df, users_df.user_id == course_enrolments_df.user_id, 'left'). \
    select(users_df['*'], course_enrolments_df['course_id'], course_enrolments_df['course_enrolment_id']). \
    show()

# we cant use indexing with alias

+-------+---------------+--------------+--------------------+---------+-------------------+
|user_id|user_first_name|user_last_name|          user_email|course_id|course_enrolment_id|
+-------+---------------+--------------+--------------------+---------+-------------------+
|      1|         Sandra|        Karpov|    skarpov0@ovh.net|     null|               null|
|      2|           Kari|        Dearth|kdearth1@so-net.n...|     null|               null|
|      3|         Joanna|      Spennock|jspennock2@redcro...|        3|                 10|
|      3|         Joanna|      Spennock|jspennock2@redcro...|        2|                 12|
|      4|         Hirsch|       Conaboy|hconaboy3@barnesa...|        5|                  7|
|      4|         Hirsch|       Conaboy|hconaboy3@barnesa...|        3|                 14|
|      5|         Loreen|         Malin|lmalin4@independe...|        2|                  2|
|      5|         Loreen|         Malin|lmalin4@independe...|        5|                  6|
|      5|         Loreen|         Malin|lmalin4@independe...|        2|                 13|
|      6|           Augy|      Christon|  achriston5@mlb.com|     null|               null|
|      7|         Trudey|       Choupin|     tchoupin6@de.vu|        5|                  3|
|      7|         Trudey|       Choupin|     tchoupin6@de.vu|        3|                  8|
|      7|         Trudey|       Choupin|     tchoupin6@de.vu|        5|                 11|
|      8|         Nadine|     Grimsdell|ngrimsdell7@sohu.com|        2|                  5|
|      8|         Nadine|     Grimsdell|ngrimsdell7@sohu.com|        5|                  9|
|      8|         Nadine|     Grimsdell|ngrimsdell7@sohu.com|        2|                 15|
|      9|        Vassily|         Tamas|vtamas8@businessw...|        2|                  4|
|     10|          Wells|      Simpkins|wsimpkins9@amazon...|        2|                  1|
+-------+---------------+--------------+--------------------+---------+-------------------+

## Get all the users who have not enrolled for any courses
* Recommended to use primary key in the child table when comapring with Null values

In [52]:
## Get all the users who have not enrolled for any courses
# Recommended to use primary key in the child table when comapring with Null values

users_df.join(course_enrolments_df,"user_id","left").\
        select(users_df["*"],course_enrolments_df.course_id, course_enrolments_df.course_enrolment_id).\
        filter("course_id IS null").show()

# or

# users_df.join(course_enrolments_df,"user_id","left").\
#         select(users_df["*"],course_enrolments_df.course_id, course_enrolments_df.course_enrolment_id).\
#         where("course_id IS null").show()


# # or SQL type syntax

# users_df.join(course_enrolments_df,"user_id","left").\
#         select(users_df["*"],course_enrolments_df.course_id, course_enrolments_df.course_enrolment_id).\
#         filter(col("course_id").isNull()).show()

+-------+---------------+--------------+--------------------+---------+-------------------+
|user_id|user_first_name|user_last_name|          user_email|course_id|course_enrolment_id|
+-------+---------------+--------------+--------------------+---------+-------------------+
|      1|         Sandra|        Karpov|    skarpov0@ovh.net|     null|               null|
|      2|           Kari|        Dearth|kdearth1@so-net.n...|     null|               null|
|      6|           Augy|      Christon|  achriston5@mlb.com|     null|               null|
+-------+---------------+--------------+--------------------+---------+-------------------+

+-------+---------------+--------------+--------------------+---------+-------------------+
|user_id|user_first_name|user_last_name|          user_email|course_id|course_enrolment_id|
+-------+---------------+--------------+--------------------+---------+-------------------+
|      1|         Sandra|        Karpov|    skarpov0@ovh.net|     null|               null|
|      2|           Kari|        Dearth|kdearth1@so-net.n...|     null|               null|
|      6|           Augy|      Christon|  achriston5@mlb.com|     null|               null|
+-------+---------------+--------------+--------------------+---------+-------------------+

+-------+---------------+--------------+--------------------+---------+-------------------+
|user_id|user_first_name|user_last_name|          user_email|course_id|course_enrolment_id|
+-------+---------------+--------------+--------------------+---------+-------------------+
|      1|         Sandra|        Karpov|    skarpov0@ovh.net|     null|               null|
|      2|           Kari|        Dearth|kdearth1@so-net.n...|     null|               null|
|      6|           Augy|      Christon|  achriston5@mlb.com|     null|               null|
+-------+---------------+--------------+--------------------+---------+-------------------+

# Get number of courses enroled by each user

In [56]:
users_df.join(course_enrolments_df,"user_id","left").\
        groupBy("user_id").\
        count().show()

# here count - Returns the number of rows in this :class:`DataFrame`. so Null is also considered.

# filter(col("course_id").isNotNull()) - if this part is present, the count with groupBy doesnt gives 1 as value for Nulls.

+-------+-----+
|user_id|count|
+-------+-----+
|      1|    1|
|      2|    1|
|      3|    2|
|      4|    2|
|      5|    3|
|      6|    1|
|      7|    3|
|      8|    3|
|      9|    1|
|     10|    1|
+-------+-----+

## In the above, if there are no enrolments(i.e null values), then count should return 0

In [66]:
from pyspark.sql.functions import sum,when,expr

# # "when" can be use in functions like select,agg,sum,min,orderBy

In [77]:

# agg method works on each group

users_df.alias('u'). \
    join(course_enrolments_df.alias('ce'), users_df.user_id == course_enrolments_df.user_id, 'left'). \
    groupBy('u.user_id'). \
    agg(sum(when(course_enrolments_df['course_enrolment_id'].isNull(), 0).otherwise(1)).alias('course_count')). \
    orderBy('u.user_id'). \
    show()

+-------+------------+
|user_id|course_count|
+-------+------------+
|      1|           0|
|      2|           0|
|      3|           2|
|      4|           2|
|      5|           3|
|      6|           0|
|      7|           3|
|      8|           3|
|      9|           1|
|     10|           1|
+-------+------------+

In [70]:
# course_enrolments_df.\
#    select( sum(when(course_enrolments_df['course_enrolment_id'].isNull(), 0).otherwise(1).alias('course_count'))).show()

In [74]:
# SQL TYPE SYNTAX

users_df.alias('u'). \
    join(course_enrolments_df.alias('ce'), users_df.user_id == course_enrolments_df.user_id, 'left'). \
    groupBy('u.user_id'). \
    agg(sum(expr("""
            
            CASE when course_enrolment_id is null
                    then 0
            ELSE 1
            END
    
    """
))).show()

+-------+--------------------------------------------------------------+
|user_id|sum(CASE WHEN (course_enrolment_id IS NULL) THEN 0 ELSE 1 END)|
+-------+--------------------------------------------------------------+
|      1|                                                             0|
|      2|                                                             0|
|      3|                                                             2|
|      4|                                                             2|
|      5|                                                             3|
|      6|                                                             0|
|      7|                                                             3|
|      8|                                                             3|
|      9|                                                             1|
|     10|                                                             1|
+-------+--------------------------------------------------------------+

# Performing Right/rightouter/right_outer join

In [81]:

course_enrolments_df. \
    join(users_df, 'user_id', 'right'). \
    show()

# or


# course_enrolments_df. \
#     join(users_df, users_df.user_id == course_enrolments_df.user_id, 'right'). \
#     select(users_df['*'], course_enrolments_df['course_id'], course_enrolments_df['course_enrolment_id']). \
#     show()

+-------+-------------------+---------+----------+---------------+--------------+--------------------+
|user_id|course_enrolment_id|course_id|price_paid|user_first_name|user_last_name|          user_email|
+-------+-------------------+---------+----------+---------------+--------------+--------------------+
|      1|               null|     null|      null|         Sandra|        Karpov|    skarpov0@ovh.net|
|      2|               null|     null|      null|           Kari|        Dearth|kdearth1@so-net.n...|
|      3|                 10|        3|     10.99|         Joanna|      Spennock|jspennock2@redcro...|
|      3|                 12|        2|      9.99|         Joanna|      Spennock|jspennock2@redcro...|
|      4|                  7|        5|     10.99|         Hirsch|       Conaboy|hconaboy3@barnesa...|
|      4|                 14|        3|     10.99|         Hirsch|       Conaboy|hconaboy3@barnesa...|
|      5|                  2|        2|      9.99|         Loreen|         Malin|lmalin4@independe...|
|      5|                  6|        5|     10.99|         Loreen|         Malin|lmalin4@independe...|
|      5|                 13|        2|      9.99|         Loreen|         Malin|lmalin4@independe...|
|      6|               null|     null|      null|           Augy|      Christon|  achriston5@mlb.com|
|      7|                  3|        5|     10.99|         Trudey|       Choupin|     tchoupin6@de.vu|
|      7|                  8|        3|     10.99|         Trudey|       Choupin|     tchoupin6@de.vu|
|      7|                 11|        5|     10.99|         Trudey|       Choupin|     tchoupin6@de.vu|
|      8|                  5|        2|      9.99|         Nadine|     Grimsdell|ngrimsdell7@sohu.com|
|      8|                  9|        5|     10.99|         Nadine|     Grimsdell|ngrimsdell7@sohu.com|
|      8|                 15|        2|      9.99|         Nadine|     Grimsdell|ngrimsdell7@sohu.com|
|      9|                  4|        2|      9.99|        Vassily|         Tamas|vtamas8@businessw...|
|     10|                  1|        2|      9.99|          Wells|      Simpkins|wsimpkins9@amazon...|
+-------+-------------------+---------+----------+---------------+--------------+--------------------+

## Full outer Join

In [82]:
users1 = [
    {
        "email":"alovett0@nsw.gov.au",
        "first_name":"Aundrea",
        "last_name":"Lovett",
        "gender":"Male",
        "ip_address":"62.72.1.143"
    },
    {
        "email":"bjowling1@spiegel.de",
        "first_name":"Bettine",
        "last_name":"Jowling",
        "gender":"Female",
        "ip_address":"26.250.197.47"
    },
    {
        "email":"rablitt2@technorati.com",
        "first_name":"Reggie",
        "last_name":"Ablitt",
        "gender":"Male",
        "ip_address":"104.181.218.238"
    },
    {
        "email":"tgavahan3@printfriendly.com",
        "first_name":"Ted",
        "last_name":"Gavahan",
        "gender":"Female",
        "ip_address":"216.80.86.100"
    },
    {
        "email":"ccastellan4@bloglovin.com",
        "first_name":"Chantal",
        "last_name":"Castellan",
        "gender":"Female",
        "ip_address":"178.93.82.145"
    },
    {
        "email":"hcurrier5@hexun.com",
        "first_name":"Herrick",
        "last_name":"Currier",
        "gender":"Male",
        "ip_address":"98.120.5.78"
    },
    {
        "email":"zlendrem6@columbia.edu",
        "first_name":"Zorina",
        "last_name":"Lendrem",
        "gender":"Female",
        "ip_address":"219.128.213.53"
    },
    {
        "email":"lbutland7@time.com",
        "first_name":"Lilas",
        "last_name":"Butland",
        "gender":"Female",
        "ip_address":"109.110.131.151"
    },
    {
        "email":"palfonsetti8@ask.com",
        "first_name":"Putnam",
        "last_name":"Alfonsetti",
        "gender":"Female",
        "ip_address":"167.97.48.246"
    },
    {
        "email":"hunitt9@bizjournals.com",
        "first_name":"Holden",
        "last_name":"Unitt",
        "gender":"Female",
        "ip_address":"142.228.161.192"
    },
    {
        "email":"dmcmorrana@reference.com",
        "first_name":"Dorice",
        "last_name":"McMorran",
        "gender":"Female",
        "ip_address":"233.1.28.220"
    },
    {
        "email":"afaulconerb@barnesandnoble.com",
        "first_name":"Andris",
        "last_name":"Faulconer",
        "gender":"Female",
        "ip_address":"109.40.175.103"
    },
    {
        "email":"kupexc@sun.com",
        "first_name":"Krispin",
        "last_name":"Upex",
        "gender":"Male",
        "ip_address":"154.110.22.75"
    },
    {
        "email":"fmancktelowd@youku.com",
        "first_name":"Farand",
        "last_name":"Mancktelow",
        "gender":"Genderqueer",
        "ip_address":"190.20.187.10"
    },
    {
        "email":"kdodgshune@google.com",
        "first_name":"Kellyann",
        "last_name":"Dodgshun",
        "gender":"Female",
        "ip_address":"80.247.105.228"
    }
]

from pyspark.sql import Row
users1_df = spark.createDataFrame([Row(**user) for user in users1])
     

users2 = [{
        "email":"lbutland7@time.com",
        "first_name":"Lilas",
        "last_name":"Butland",
        "gender":"Female",
        "ip_address":"109.110.131.151"
    },
    {
        "email":"palfonsetti8@ask.com",
        "first_name":"Putnam",
        "last_name":"Alfonsetti",
        "gender":"Female",
        "ip_address":"167.97.48.246"
    },
    {
        "email":"hunitt9@bizjournals.com",
        "first_name":"Holden",
        "last_name":"Unitt",
        "gender":"Female",
        "ip_address":"142.228.161.192"
    },
    {
        "email":"dmcmorrana@reference.com",
        "first_name":"Dorice",
        "last_name":"McMorran",
        "gender":"Female",
        "ip_address":"233.1.28.220"
    },
    {
        "email":"afaulconerb@barnesandnoble.com",
        "first_name":"Andris",
        "last_name":"Faulconer",
        "gender":"Female",
        "ip_address":"109.40.175.103"
    },
    {
        "email":"kupexc@sun.com",
        "first_name":"Krispin",
        "last_name":"Upex",
        "gender":"Male",
        "ip_address":"154.110.22.75"
    },
    {
        "email":"fmancktelowd@youku.com",
        "first_name":"Farand",
        "last_name":"Mancktelow",
        "gender":"Genderqueer",
        "ip_address":"190.20.187.10"
    },
    {
        "email":"kdodgshune@google.com",
        "first_name":"Kellyann",
        "last_name":"Dodgshun",
        "gender":"Female",
        "ip_address":"80.247.105.228"
    },
    {
        "email":"kbaressf@geocities.jp",
        "first_name":"Karly",
        "last_name":"Baress",
        "gender":"Female",
        "ip_address":"145.232.153.145"
    },
    {
        "email":"amillinsg@com.com",
        "first_name":"Adelaide",
        "last_name":"Millins",
        "gender":"Female",
        "ip_address":"75.160.220.182"
    },
    {
        "email":"skemsleyh@quantcast.com",
        "first_name":"Shir",
        "last_name":"Kemsley",
        "gender":"Male",
        "ip_address":"234.195.73.177"
    },
    {
        "email":"kchomiszewskii@simplemachines.org",
        "first_name":"Kristo",
        "last_name":"Chomiszewski",
        "gender":"Female",
        "ip_address":"60.91.73.198"
    },
    {
        "email":"rkelwickj@baidu.com",
        "first_name":"Rosemonde",
        "last_name":"Kelwick",
        "gender":"Genderfluid",
        "ip_address":"42.50.134.65"
    }
]

from pyspark.sql import Row
users2_df = spark.createDataFrame([Row(**user) for user in users2])

In [94]:
# outer or full or fullouter or full_outer are same

users1_df. \
    join(users2_df, users1_df.email == users2_df.email, 'full'). \
    show(6)

# it is the union of both tables

# users1_df. \
#     join(users2_df, "email", 'full'). \
#     show()


# The full outer join is union of left and right outer joins
# we get duplicates in below method

users1_df. \
    join(users2_df, 'email', 'left'). \
    union(
        users1_df. \
            join(users2_df, 'email', 'right')
    ). \
    distinct(). \
    show(1)

+--------------------+----------+---------+------+--------------+--------------------+----------+---------+------+--------------+
|               email|first_name|last_name|gender|    ip_address|               email|first_name|last_name|gender|    ip_address|
+--------------------+----------+---------+------+--------------+--------------------+----------+---------+------+--------------+
|afaulconerb@barne...|    Andris|Faulconer|Female|109.40.175.103|afaulconerb@barne...|    Andris|Faulconer|Female|109.40.175.103|
| alovett0@nsw.gov.au|   Aundrea|   Lovett|  Male|   62.72.1.143|                null|      null|     null|  null|          null|
|                null|      null|     null|  null|          null|   amillinsg@com.com|  Adelaide|  Millins|Female|75.160.220.182|
|bjowling1@spiegel.de|   Bettine|  Jowling|Female| 26.250.197.47|                null|      null|     null|  null|          null|
|ccastellan4@blogl...|   Chantal|Castellan|Female| 178.93.82.145|                null|      null|     null|  null|          null|
|dmcmorrana@refere...|    Dorice| McMorran|Female|  233.1.28.220|dmcmorrana@refere...|    Dorice| McMorran|Female|  233.1.28.220|
+--------------------+----------+---------+------+--------------+--------------------+----------+---------+------+--------------+
only showing top 6 rows

+--------------------+----------+---------+------+--------------+----------+---------+------+--------------+
|               email|first_name|last_name|gender|    ip_address|first_name|last_name|gender|    ip_address|
+--------------------+----------+---------+------+--------------+----------+---------+------+--------------+
|kdodgshune@google...|  Kellyann| Dodgshun|Female|80.247.105.228|  Kellyann| Dodgshun|Female|80.247.105.228|
+--------------------+----------+---------+------+--------------+----------+---------+------+--------------+
only showing top 1 row

# coalesce

In [95]:

# Projecting data after full outer join
# Get the details from the users1_df, if missing get details from users2_df

from pyspark.sql.functions import coalesce

In [96]:
help(coalesce)

Help on function coalesce in module pyspark.sql.functions:

coalesce(*cols)
    Returns the first column that is not null.

    .. versionadded:: 1.4.0

    Examples
    --------
    >>> cDf = spark.createDataFrame([(None, None), (1, None), (None, 2)], ("a", "b"))
    >>> cDf.show()
    +----+----+
    |   a|   b|
    +----+----+
    |null|null|
    |   1|null|
    |null|   2|
    +----+----+

    >>> cDf.select(coalesce(cDf["a"], cDf["b"])).show()
    +--------------+
    |coalesce(a, b)|
    +--------------+
    |          null|
    |             1|
    |             2|
    +--------------+

    >>> cDf.select('*', coalesce(cDf["a"], lit(0.0))).show()
    +----+----+----------------+
    |   a|   b|coalesce(a, 0.0)|
    +----+----+----------------+
    |null|null|             0.0|
    |   1|null|             1.0|
    |null|   2|             0.0|
    +----+----+----------------+

In [101]:

# Projecting data after full outer join
# Get the details from the users1_df, if missing get details from users2_df

from pyspark.sql.functions import coalesce
users1_df. \
    join(users2_df, users1_df.email == users2_df.email, 'full'). \
    select(
        coalesce(users1_df['email'], users2_df['email']).alias('email'),
        coalesce(users1_df['first_name'], users2_df['first_name']).alias('first_name'),
        coalesce(users1_df['last_name'], users2_df['last_name']).alias('last_name'),
        coalesce(users1_df['gender'], users2_df['gender']).alias('gender'),
        coalesce(users1_df['ip_address'], users2_df['ip_address']).alias('ip_address'),
    ). \
    show()

# if email in users1_df is Null, then it takes values from users2_df
# similarly for other columns

+--------------------+----------+------------+-----------+---------------+
|               email|first_name|   last_name|     gender|     ip_address|
+--------------------+----------+------------+-----------+---------------+
|afaulconerb@barne...|    Andris|   Faulconer|     Female| 109.40.175.103|
| alovett0@nsw.gov.au|   Aundrea|      Lovett|       Male|    62.72.1.143|
|   amillinsg@com.com|  Adelaide|     Millins|     Female| 75.160.220.182|
|bjowling1@spiegel.de|   Bettine|     Jowling|     Female|  26.250.197.47|
|ccastellan4@blogl...|   Chantal|   Castellan|     Female|  178.93.82.145|
|dmcmorrana@refere...|    Dorice|    McMorran|     Female|   233.1.28.220|
|fmancktelowd@youk...|    Farand|  Mancktelow|Genderqueer|  190.20.187.10|
| hcurrier5@hexun.com|   Herrick|     Currier|       Male|    98.120.5.78|
|hunitt9@bizjourna...|    Holden|       Unitt|     Female|142.228.161.192|
|kbaressf@geocitie...|     Karly|      Baress|     Female|145.232.153.145|
|kchomiszewskii@si...|    Kristo|Chomiszewski|     Female|   60.91.73.198|
|kdodgshune@google...|  Kellyann|    Dodgshun|     Female| 80.247.105.228|
|      kupexc@sun.com|   Krispin|        Upex|       Male|  154.110.22.75|
|  lbutland7@time.com|     Lilas|     Butland|     Female|109.110.131.151|
|palfonsetti8@ask.com|    Putnam|  Alfonsetti|     Female|  167.97.48.246|
|rablitt2@technora...|    Reggie|      Ablitt|       Male|104.181.218.238|
| rkelwickj@baidu.com| Rosemonde|     Kelwick|Genderfluid|   42.50.134.65|
|skemsleyh@quantca...|      Shir|     Kemsley|       Male| 234.195.73.177|
|tgavahan3@printfr...|       Ted|     Gavahan|     Female|  216.80.86.100|
|zlendrem6@columbi...|    Zorina|     Lendrem|     Female| 219.128.213.53|
+--------------------+----------+------------+-----------+---------------+

# Broadcast join

In [102]:
# It is also known as map side as well as replicated join.

# The smaller data set will be broadcasted to all the executors in the cluster.

# The size of the smaller data set is driven by spark.sql.autoBroadcastJoinThreshold.

# We can even perform broadcast join when the smaller data set size is greater than spark.sql.autoBroadcastJoinThreshold by using broadcast function from pyspark.sql.functions.

# We can disable broadcast join by setting spark.sql.autoBroadcastJoinThreshold value to 0.

# If broadcast join is disabled then it will result in reduce side join.

# Make sure to setup multinode cluster using 28 GB Memory, 4 Cores each. Configure scaling between 2 and 4 nodes. Driver can be of minimum configuration.

## Cross Join

In [103]:
users_df.crossJoin(courses_df).count()

50

In [107]:
help(users_df.crossJoin)

Help on method crossJoin in module pyspark.sql.dataframe:

crossJoin(other) method of pyspark.sql.dataframe.DataFrame instance
    Returns the cartesian product with another :class:`DataFrame`.

    .. versionadded:: 2.1.0

    Parameters
    ----------
    other : :class:`DataFrame`
        Right side of the cartesian product.

    Examples
    --------
    >>> df.select("age", "name").collect()
    [Row(age=2, name='Alice'), Row(age=5, name='Bob')]
    >>> df2.select("name", "height").collect()
    [Row(name='Tom', height=80), Row(name='Bob', height=85)]
    >>> df.crossJoin(df2.select("height")).select("age", "name", "height").collect()
    [Row(age=2, name='Alice', height=80), Row(age=2, name='Alice', height=85),
     Row(age=5, name='Bob', height=80), Row(age=5, name='Bob', height=85)]

In [109]:
users_df.join(courses_df).count()

50

In [110]:
help(users_df.join)

Help on method join in module pyspark.sql.dataframe:

join(other, on=None, how=None) method of pyspark.sql.dataframe.DataFrame instance
    Joins with another :class:`DataFrame`, using the given join expression.

    .. versionadded:: 1.3.0

    Parameters
    ----------
    other : :class:`DataFrame`
        Right side of the join
    on : str, list or :class:`Column`, optional
        a string for the join column name, a list of column names,
        a join expression (Column), or a list of Columns.
        If `on` is a string or a list of strings indicating the name of the join column(s),
        the column(s) must exist on both sides, and this performs an equi-join.
    how : str, optional
        default ``inner``. Must be one of: ``inner``, ``cross``, ``outer``,
        ``full``, ``fullouter``, ``full_outer``, ``left``, ``leftouter``, ``left_outer``,
        ``right``, ``rightouter``, ``right_outer``, ``semi``, ``leftsemi``, ``left_semi``,
        ``anti``, ``leftanti`` and ``left_anti``.

    Examples
    --------
    The following performs a full outer join between ``df1`` and ``df2``.

    >>> from pyspark.sql.functions import desc
    >>> df.join(df2, df.name == df2.name, 'outer').select(df.name, df2.height)                 .sort(desc("name")).collect()
    [Row(name='Bob', height=85), Row(name='Alice', height=None), Row(name=None, height=80)]

    >>> df.join(df2, 'name', 'outer').select('name', 'height').sort(desc("name")).collect()
    [Row(name='Tom', height=80), Row(name='Bob', height=85), Row(name='Alice', height=None)]

    >>> cond = [df.name == df3.name, df.age == df3.age]
    >>> df.join(df3, cond, 'outer').select(df.name, df3.age).collect()
    [Row(name='Alice', age=2), Row(name='Bob', age=5)]

    >>> df.join(df2, 'name').select(df.name, df2.height).collect()
    [Row(name='Bob', height=85)]

    >>> df.join(df4, ['name', 'age']).select(df.name, df.age).collect()
    [Row(name='Bob', age=5)]